<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <title>Places Célèbres à Agadir</title>
  </head>

  <body>
    <!-- Header and Nav -->
    <header class="hotel_agadir">
      <nav>
        <div class="main">
          <ul class="main-list">
            <li class="main-list-item"><a href="index.html">Accueil </a></li>
            <li class="active main-list-item"><a href="">Places Célèbres</a>
                <ul>
                  <li><a href="casa.html">Casablanca</a></li>
                  <li><a href="Kech.html">Marrakesh</a></li>
                  <li><a href="rabat.html">Rabat</a></li>
                  <li><a href="fes.html">Fès</a></li>
                  <li><a href="tanger.html">Tanger</a></li>
                  <li><a href="tetouan.html">Tetouan</a></li>
                  <li><a href="meknes.html">Meknes</a></li>
                  <li><a href="chefchaouen.html">Chefchaouen</a></li>
                  <li><a href="ifran.html">Ifrane</a></li>
                  <li><a href="agadir.html">Agadir</a></li>
                  <li><a href="hociema.html">AlHociema</a></li>
                  </ul></li>
            <li class="main-list-item"><a href="">Hôtel</a>
              <ul>
                <li><a href="hotel-casablanca.html">Casablanca</a></li>
                <li><a href="hotel-marrakesh.html">Marrakesh</a></li>
                <li><a href="hotel-rabat.html">Rabat</a></li>
                <li><a href="hotel-fes.html">Fès</a></li>
                <li><a href="hotel-tangier.html">Tanger</a></li>
                <li><a href="hotel -tetouan.html">Tetouan</a></li>
                <li><a href="hotel -meknes.html">Meknes</a></li>
                <li><a href="hotel -chefchaoun.html">Chefchaouen</a></li>
                <li><a href="hotel -ifrane.html">Ifrane</a></li>
                <li><a href="hotel-agadir.html">Agadir</a></li>
                <li><a href="hotel-hociema.html">AlHociema</a></li>
                </ul></li>
                
                
          <li class="main-list-item"><a href="">Infos Pratiques</a>
                  <ul>
                    <li><a href="info_deplace.html">Se déplacer</a></li>
                    <li><a href="info_hebergement.html">Hébergement</a></li>
                    <li><a href="info_deguster.html">Déguster</a></li>
                    </ul></li>

                    <li class="main-list-item"><a href="">Chatbot</a>
                      <ul>
                        <li><a href="chatbot_app_anglais.html">English</a></li>
                        <li><a href="chatbot_app_francais.html">Français</a></li>
                        <li><a href="chatbot_app_arab.html">العربية</a></li>
                        </ul></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->

      <!-- Title heading -->
      <div class="title">
        <span class="heading">Places Célèbres à Agadir</span>
      </div>
    </header>
    <!-- // Title heading -->


<!-- Start Portfolio -->
<div class=".container">
  <br>
  <br>
  
</div>      
<!-- Start Resume -->
<div class="resume">
<div class="container">
<p>Agadir, est l'une des plus grandes villes du Maroc et est situé au bord de l'océan Atlantique près des montagnes de l'Atlantique.Il est considéré comme l'une des destinations touristiques les plus importantes au Maroc, car il comprend de nombreuses attractions touristiques, stations balnéaires , terrains de golf, plages propres, jardins, parcs et autres.
  Le tourisme à Agadir est l'une des ressources les plus importantes de la ville. Elle est riche en tourisme et en nature distinctive. Un exemple en est la Kasbah d'Agadir Ofla, qui se trouve au sommet de la montagne, le parc Olhao, et bien d'autres. </p>

</div>
</div>

<!-- End Resume -->
<br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/qesbat_agadir_ofala.jpg" alt="entre" width="580" height="443" class="xxx">    
   
</div>
<div class="info">
 <h1>Kasbah d'Agadir Oufella</h1>
 <br> <hr> <br>
    <p id="desc">L'une des attractions touristiques les plus célèbres d'Agadir s'appelle Agadir Ofla, qui est une forteresse située au sommet de la montagne, à 236 mètres au-dessus du niveau de la mer. Elle a été construite en 1540 par le sultan Muhammad Al-Sheikh Al-Saadi afin d'être capable de frapper les sites portugais au pied de la montagne. Une grande partie du château a été endommagée par un violent tremblement de terre qui a frappé la ville d'Agadir</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/olhaw.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Parc Olhau</h1>
   <br> <hr> <br>
      <p id="desc">Le parc Olhau est l'un des plus beaux sites touristiques d'Agadir. Il est aussi appelé le Jardin des Amoureux, car il se caractérise par son atmosphère romantique. Le jardin reçoit de nombreux visiteurs de différentes tranches d'âge dans le but de passer des moments amusants et de se débarrasser des épreuves de la vie quotidienne.Le parc Olhau est situé près du musée qui commémore l'ancien tremblement de terre d'Agadir.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/plage_agadir.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Plage d'Agadir</h1>
 <br> <hr> <br>
    <p id="desc">La plage est l'un des lieux touristiques les plus importants d'Agadir, car elle s'étend sur une vaste zone de plus de 30 Km. La plage de sable d'Agadir se caractérise par son sable doré le long de la côte adjacente à l'océan Atlantique. Il y a de nombreux restaurants et cafés sur cette plage et se caractérise par son atmosphère amusante et divertissante.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/wadi_toyour.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Parc de la Vallée des Oiseaux</h1>
   <br> <hr> <br>
      <p id="desc">Le jardin des oiseaux d'Agadir s'occupe de toutes sortes d'oiseaux en plus d'autres types d'animaux, et il est situé à quelques pas de la plage.Le parc comprend différents oiseaux tels que perroquet, flamant rose, lama et autres</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/mountazah_agadir.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Parc d'Agadir</h1>
 <br> <hr> <br>
    <p id="desc">Il s'étend le long de la plage d'Agadir et est prêt à recevoir ses visiteurs, résidents et touristes, car de nombreux commerces, cafés et restaurants sont disséminés sur ses côtés, et de nombreuses animations et soirées sont organisées dans le parc, dans des activités plus orientées vers les enfants.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/sahat_elamal.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Place al-amal</h1>
   <br> <hr> <br>
      <p id="desc">La place Al-Amal est la place la plus importante de la ville marocaine d'Agadir, où elle est considérée comme un lieu majeur pour accueillir divers festivals, dont les plus importants sont les festivals d'Agadir et le festival Timitar.La place attire de nombreux touristes de partout. le monde, où ils peuvent assister à des festivals qui reflètent le patrimoine et la culture de la ville.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
<!-- End Portfolio -->
  
  <br><br><br>
 <!-- Footer -->
<footer>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h1 class="logo-text">
          <span class="logo-span">S</span>ujet 10
        </h1>
        <p class="footer-para">
          Les chatbots au service du tourisme numérique
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i>&nbsp; +212525343456</span>
          <span
            ><i class="fas fa-envelope"></i>&nbsp;
            startup_10@gmail.com</span
          >
        </div>
        <div class="socials">
          <a
            href="https://www.facebook.com"
            target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="https://www.linkedin.com"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://twitter.com" target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://github.com" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; Copyright Sujet 10. All Rights Reserved
    </div>
  </div>
</footer>
<!-- // Footer -->
  </body>
</html>
