<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <title>Places Célèbres à Casablanca</title>
  </head>

  <body>
    <!-- Header and Nav -->
    <header class="hotel_casa">
      <nav>
        <div class="main">
          <ul class="main-list">
            <li class="main-list-item"><a href="index.html">Accueil </a></li>
            <li class="active main-list-item"><a href="">Places Célèbres</a>
                <ul>
                  <li><a href="casa.html">Casablanca</a></li>
                  <li><a href="Kech.html">Marrakesh</a></li>
                  <li><a href="rabat.html">Rabat</a></li>
                  <li><a href="fes.html">Fès</a></li>
                  <li><a href="tanger.html">Tanger</a></li>
                  <li><a href="tetouan.html">Tetouan</a></li>
                  <li><a href="meknes.html">Meknes</a></li>
                  <li><a href="chefchaouen.html">Chefchaouen</a></li>
                  <li><a href="ifran.html">Ifrane</a></li>
                  <li><a href="agadir.html">Agadir</a></li>
                  <li><a href="hociema.html">AlHociema</a></li>
                  </ul></li>
            <li class="main-list-item"><a href="">Hôtel</a>
              <ul>
                <li><a href="hotel-casablanca.html">Casablanca</a></li>
                <li><a href="hotel-marrakesh.html">Marrakesh</a></li>
                <li><a href="hotel-rabat.html">Rabat</a></li>
                <li><a href="hotel-fes.html">Fès</a></li>
                <li><a href="hotel-tangier.html">Tanger</a></li>
                <li><a href="hotel -tetouan.html">Tetouan</a></li>
                <li><a href="hotel -meknes.html">Meknes</a></li>
                <li><a href="hotel -chefchaoun.html">Chefchaouen</a></li>
                <li><a href="hotel -ifrane.html">Ifrane</a></li>
                <li><a href="hotel-agadir.html">Agadir</a></li>
                <li><a href="hotel-hociema.html">AlHociema</a></li>
                </ul></li>
                
                
          <li class="main-list-item"><a href="">Infos Pratiques</a>
                  <ul>
                    <li><a href="info_deplace.html">Se déplacer</a></li>
                    <li><a href="info_hebergement.html">Hébergement</a></li>
                    <li><a href="info_deguster.html">Déguster</a></li>
                    </ul></li>

                    <li class="main-list-item"><a href="">Chatbot</a>
                      <ul>
                        <li><a href="chatbot_app_anglais.html">English</a></li>
                        <li><a href="chatbot_app_francais.html">Français</a></li>
                        <li><a href="chatbot_app_arab.html">العربية</a></li>
                        </ul></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->

      <!-- Title heading -->
      <div class="title">
        <span class="heading">Places Célèbres à Casa</span>
      </div>
    </header>
    <!-- // Title heading -->

<!-- Start Portfolio -->
<div class=".container">
  <br>
  <br>
  
</div>      
<!-- Start Resume -->
<div class="resume">
<div class="container">
<p>Casablanca est la plus grande ville du Maroc et est considérée comme l'une des plus belles villes touristiques du Maroc avec vue sur l'océan Atlantique, et c'est la capitale économique du pays.
  La ville de Casablanca regorge de nombreux lieux touristiques merveilleux, le centre-ville historique est concentré dans la vieille ville, qui est entourée d'un mur et de plusieurs portes, dont la plus importante est Bab Marrakech.
  La ville comprend également de nombreux parcs et jardins, comme le parc de la Ligue arabe, et accueille de nombreux festivals annuels, dont le plus célèbre est le Festival de Casablanca.</p>

</div>
</div>

<!-- End Resume -->
<br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/ljamiaa_laarabiya.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>parc murdoch casablanca</h1>
 <br> <hr> <br>
    <p id="desc">Le parc murdoch casablanca est considéré comme l'un des lieux touristiques les plus célèbres de Casablanca. Son histoire remonte au début du XXe siècle en 1913. C'est un jardin conçu dans le style des jardins à la française, d'une superficie de plus plus de 30 hectares.
      Le parc comprend de nombreux types de plantes telles que des palmiers majestueux qui entourent de grands espaces verts, et il existe plusieurs lieux de divertissement pour les enfants et des cafés qui attirent les familles pour passer les plus beaux moments, et c'est donc l'un des meilleurs endroits pour le tourisme en Casablanca</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/lmedina_lgadima.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
    <h1>l'ancienne ville</h1>
   <br> <hr> <br>
      
      <br>
      <p id="desc">La vieille ville est située près du port de Casablanca, et c'est un quartier historique entouré d'un mur qui a plusieurs portes principales, dont la plus célèbre est Bab Marrakech, qui est l'une des zones les plus célèbres du tourisme à Casablanca, malgré c'est vieux
        La vieille ville est considérée comme l'un des lieux touristiques les plus importants de Casablanca, au Maroc, car elle comprend des monuments historiques représentés dans des anciennes mosquées et des maisons antiques.Le quartier du Consulat et le quartier juif du Mellah surplombant la côte sont parmi ses quartiers les plus célèbres</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
<!-- End Portfolio -->
  
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/bab_merakech.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Bab Marrakech</h1>
 <br> <hr> <br>
    <p id="desc">Bab de Marrakech est l'un des symboles les plus importants du tourisme à Casablanca. C'est l'une des portes de la vieille ville. Elle est destinée à la plupart des visiteurs de Casablanca dans le but de faire du shopping ou de découvrir l'histoire de la vieille ville.
      Bab de Marrakech est restée un témoin de l'histoire de la ville antique de Casablanca, malgré l'effondrement de la ville suite à un tremblement de terre qui a frappé la région en 1775. De nombreux vendeurs ambulants font la queue devant la porte pour vendre leurs marchandises du Maroc et autres pays africains.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/hassan_2.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Mosquée Hassan II</h1>
   <br> <hr> <br>
      <p id="desc">La mosquée Hassan II est située près de la vieille ville sur la côte atlantique et est considérée comme l'une des attractions touristiques les plus célèbres de Casablanca. C'est le plus grand monument religieux du Maroc et le septième au monde. La cour de la mosquée incarne la créativité de l'architecture marocaine
        La salle de prière de la mosquée peut accueillir environ 25 000 fidèles, tandis que le nombre atteint 100 000 pendant le mois de Ramadan, car la superficie de la mosquée est d'environ 9 hectares.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1--> 
<div class="about-me">
  <div class="container">
  <div class="image">
      <img src="../assets/image/twin.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>twin center</h1>
   <br> <hr> <br>
      <p id="desc">twin center est l'un des lieux touristiques les plus célèbres de Casablanca. Elle se compose de deux immeubles de grande hauteur, chacun d'une hauteur d'environ 115 mètres et compte 29 étages. C'est pourquoi la tour jumelle est considérée comme le plus haut bâtiment du Maroc. du tout.
        La Twin Tower est l'un des centres commerciaux du Maroc, où elle regroupe de nombreuses entreprises dans le domaine de la finance et des affaires, et attire également de nombreux visiteurs et touristes de différents pays du monde.</p>
  </div>
  </div>
  </div>
  <!-- end 1--> 
  <br><br><br><br><br>
  <!-- Start 2 --> 
  <div class="about-me2">
    <div class="container">
    <div class="image">
        <img src="../assets/image/mall.jpg" alt="entre" width="580" height="443" class="xxx">    
    </div>
    <div class="info">
     <h1>morocco mall</h1>
     <br> <hr> <br>
        <p id="desc">Le plus grand centre commercial d'Afrique est situé sur la plage d'Ain Diab sur la côte atlantique et est considéré comme la principale destination de shopping à Casablanca, il attire donc de nombreux visiteurs et son nombre de visiteurs annuels a atteint environ 14 millions de visiteurs.</p>
    </div>
    </div>
    </div>
    <!-- end 2 --> 
    <br><br><br>
  <!-- Start 1 --> 
  <div class="about-me">
    <div class="container">
    <div class="image">
        <img src="../assets/image/foret_tamariss.jpg" alt="entre" width="580" height="443" class="xxx">    
    </div>
    <div class="info">
     <h1>Parc aquatique Tamaris</h1>
     <br> <hr> <br>
        <p id="desc">Le parc aquatique Tamaris occupe une grande superficie estimée à 10 km sur la route d'Azemmour à Casablanca et est considéré comme l'un des parcs aquatiques d'amusement uniques, car il constitue un espace idéal pour le divertissement, que ce soit pour les adultes ou les enfants.
          Le parc comprend de nombreux types de jeux d'eau tels que des toboggans de différentes tailles et formes, des piscines et un grand canal d'eau.C'est une destination populaire pour les touristes venant pour le tourisme à Casablanca.</p>
    </div>
    </div>
    </div>
    <!-- end 1 --> 
    <br><br><br><br><br>
    <!-- Start 2 --> 
    <div class="about-me2">
      <div class="container">
      <div class="image">
          <img src="../assets/image/Bd_m5.jpg" alt="entre" width="580" height="443" class="xxx">    
      </div>
      <div class="info">
       <h1>boulevard mohammed 5</h1>
       <br> <hr> <br>
          <p id="desc">Le boulevard Mohammed V est l'une des principales boulevards importantes et l'une des zones touristiques les plus importantes de Casablanca, au Maroc, car il contient des bâtiments conçus dans le style architectural français, ainsi que des boutiques haut de gamme.
            L'histoire de cette rue remonte à 1930, et la ligne de tramway de Casablanca la traverse, qui relie la rue à de nombreux quartiers de la ville. La rue comprend le marché central et de nombreux cafés et hôtels, ce qui en fait l'un des meilleurs endroits pour tourisme à Casablanca.</p>
      </div>
      </div>
      </div>
      <!-- end 2 --> 
      <br><br><br>
    <!-- Start 1 --> 
    <div class="about-me">
      <div class="container">
      <div class="image">
          <img src="../assets/image/ain_diab.jpg" alt="entre" width="580" height="443" class="xxx">    
      </div>
      <div class="info">
       <h1>plage ain diab</h1>
       <br> <hr> <br>
          <p id="desc">La corniche d'Ain Diab est l'un des lieux touristiques les plus célèbres de Casablanca, et il y a de nombreuses possibilités de randonnées et de divertissements qui attirent les résidents locaux et les touristes du monde entier.C'est aussi l'un des endroits qui regorgent d'agitation. de la vie jour et nuit.
            La Corniche est bondée nuit et jour de visiteurs, car elle comprend de nombreux restaurants, cafés haut de gamme et hôtels de luxe qui s'étendent le long de la Corniche de la Mosquée Hassan II au Minaret du Cou.</p>
      </div>
      </div>
      </div>
      <!-- end 1 --> 
      <br><br><br><br><br>
      <!-- Start 2 --> 
      <div class="about-me2">
        <div class="container">
        <div class="image">
            <img src="../assets/image/midan_m5.jpg" alt="entre" width="580" height="443" class="xxx">    
        </div>
        <div class="info">
         <h1>Place Mohammed V</h1>
         <br> <hr> <br>
            <p id="desc">La place Mohammed V est située au cœur de Casablanca, et est considérée comme le cœur battant de la ville.Elle se caractérise par la présence de nombreux pigeons dans tous ses flancs, et elle attire de nombreux touristes et visiteurs du monde entier pour découvrir le ville de Casablanca.
              Vous voyez souvent la place Mohammed V bondée de monde, car c'est le principal débouché pour les résidents et les touristes de la ville de Casablanca</p>
        </div>
        </div>
        </div>
        <!-- end 2 --> 
        <br><br><br>
    <!-- End Portfolio -->
    <br><br><br><br>
 <!-- Footer -->
<footer>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h1 class="logo-text">
          <span class="logo-span">S</span>ujet 10
        </h1>
        <p class="footer-para">
          Les chatbots au service du tourisme numérique
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i>&nbsp; +212525343456</span>
          <span
            ><i class="fas fa-envelope"></i>&nbsp;
            startup_10@gmail.com</span
          >
        </div>
        <div class="socials">
          <a
            href="https://www.facebook.com"
            target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="https://www.linkedin.com"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://twitter.com" target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://github.com" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; Copyright Sujet 10. All Rights Reserved
    </div>
  </div>
</footer>
<!-- // Footer -->
  </body>
</html>
