<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <title>Places Célèbres à Chefchaouen</title>
  </head>

  <body>
    <!-- Header and Nav -->
    <header class="hotel_chaouen">
      <nav>
        <div class="main">
          <ul class="main-list">
            <li class="main-list-item"><a href="index.html">Accueil </a></li>
            <li class="active main-list-item"><a href="">Places Célèbres</a>
                <ul>
                  <li><a href="casa.html">Casablanca</a></li>
                  <li><a href="Kech.html">Marrakesh</a></li>
                  <li><a href="rabat.html">Rabat</a></li>
                  <li><a href="fes.html">Fès</a></li>
                  <li><a href="tanger.html">Tanger</a></li>
                  <li><a href="tetouan.html">Tetouan</a></li>
                  <li><a href="meknes.html">Meknes</a></li>
                  <li><a href="chefchaouen.html">Chefchaouen</a></li>
                  <li><a href="ifran.html">Ifrane</a></li>
                  <li><a href="agadir.html">Agadir</a></li>
                  <li><a href="hociema.html">AlHociema</a></li>
                  </ul></li>
            <li class="main-list-item"><a href="">Hôtel</a>
              <ul>
                <li><a href="hotel-casablanca.html">Casablanca</a></li>
                <li><a href="hotel-marrakesh.html">Marrakesh</a></li>
                <li><a href="hotel-rabat.html">Rabat</a></li>
                <li><a href="hotel-fes.html">Fès</a></li>
                <li><a href="hotel-tangier.html">Tanger</a></li>
                <li><a href="hotel -tetouan.html">Tetouan</a></li>
                <li><a href="hotel -meknes.html">Meknes</a></li>
                <li><a href="hotel -chefchaoun.html">Chefchaouen</a></li>
                <li><a href="hotel -ifrane.html">Ifrane</a></li>
                <li><a href="hotel-agadir.html">Agadir</a></li>
                <li><a href="hotel-hociema.html">AlHociema</a></li>
                </ul></li>
                
                
          <li class="main-list-item"><a href="">Infos Pratiques</a>
                  <ul>
                    <li><a href="info_deplace.html">Se déplacer</a></li>
                    <li><a href="info_hebergement.html">Hébergement</a></li>
                    <li><a href="info_deguster.html">Déguster</a></li>
                    </ul></li>

                    <li class="main-list-item"><a href="">Chatbot</a>
                      <ul>
                        <li><a href="chatbot_app_anglais.html">English</a></li>
                        <li><a href="chatbot_app_francais.html">Français</a></li>
                        <li><a href="chatbot_app_arab.html">العربية</a></li>
                        </ul></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->

      <!-- Title heading -->
      <div class="title">
        <span class="heading">Places Célèbres à Chefchaouen</span>
      </div>
    </header>
    <!-- // Title heading -->

<!-- Start Portfolio -->
<div class=".container">
  <br>
  <br>
  
</div>      
<!-- Start Resume -->
<div class="resume">
<div class="container">
<p>Chefchaouen est l'une des plus belles villes du Maroc, située sur la côte nord-est du pays, elle est surnommée la Ville Bleue en raison des maisons bleues dans lesquelles elle se déploie.
  Chefchaouen marocain comprend de nombreuses attractions qui en font une destination pour de nombreux touristes, notamment des cascades, des lieux naturels et des monuments historiques.</p>

</div>
</div>

<!-- End Resume -->
<br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/Akchour-waterfalls.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Chutes d'Akchour</h1>
 <br> <hr> <br>
    <p id="desc">La cascade d'Akchour est l'un des plus beaux endroits touristiques de Chefchaouen, au Maroc. Elle est située dans la réserve de Tala Samtane. Elle se compose d'une cascade basse ressemblant à un petit lac et d'une autre à haute altitude descendant du milieu des montagnes.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!--  Start 2 --> 

<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/hay_souika_chef.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
    <h1>Quartier Souika Chefchaouen</h1>
 <br> <hr> <br>
      <p id="desc">L'un des lieux de tourisme de Chefchaouen, au Maroc, qui est la deuxième plus ancienne communauté résidentielle de la ville de Chefchaouen et comprend les plus anciennes maisons de la ville, qui appartiennent à des familles andalouses qui ont longtemps vécu dans le quartier.
        Le Quartier Souika se caractérise par la dominance blanche et bleue de celui-ci, à l'image de la ville de Chefchaouen, qui le rend propice à la déambulation et à la détente.Le quartier se caractérise également par la présence d'un grand nombre de commerces et de kiosques qui achètent des produits locaux.</p>
  </div>
  </div>
  </div>-->
  <!-- end 2 -->  

  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/elqasba_chef.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>al Kasbah</h1>
 <br> <hr> <br>
    <p id="desc">La Kasbah est l'un des lieux touristiques les plus importants de Chefchaouen, au Maroc. Elle est située sur la célèbre place Outa Hammam et est considérée comme le noyau de la ville, car c'est l'un des premiers bâtiments dans lequel elle a été construite.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<!-- End Portfolio -->
  
  <br><br><br>
    <!-- Footer -->
<footer>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h1 class="logo-text">
          <span class="logo-span">S</span>ujet 10
        </h1>
        <p class="footer-para">
          Les chatbots au service du tourisme numérique
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i>&nbsp; +212525343456</span>
          <span
            ><i class="fas fa-envelope"></i>&nbsp;
            startup_10@gmail.com</span
          >
        </div>
        <div class="socials">
          <a
            href="https://www.facebook.com"
            target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="https://www.linkedin.com"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://twitter.com" target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://github.com" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; Copyright Sujet 10. All Rights Reserved
    </div>
  </div>
</footer>
<!-- // Footer -->
  </body>
</html>
