<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <title>Places Célèbres à Fès</title>
  </head>

  <body>
    <!-- Header and Nav -->
    <header class="hotel_fes">
      <nav>
        <div class="main">
          <ul class="main-list">
            <li class="main-list-item"><a href="index.html">Accueil </a></li>
            <li class="active main-list-item"><a href="">Places Célèbres</a>
                <ul>
                  <li><a href="casa.html">Casablanca</a></li>
                  <li><a href="Kech.html">Marrakesh</a></li>
                  <li><a href="rabat.html">Rabat</a></li>
                  <li><a href="fes.html">Fès</a></li>
                  <li><a href="tanger.html">Tanger</a></li>
                  <li><a href="tetouan.html">Tetouan</a></li>
                  <li><a href="meknes.html">Meknes</a></li>
                  <li><a href="chefchaouen.html">Chefchaouen</a></li>
                  <li><a href="ifran.html">Ifrane</a></li>
                  <li><a href="agadir.html">Agadir</a></li>
                  <li><a href="hociema.html">AlHociema</a></li>
                  </ul></li>
            <li class="main-list-item"><a href="">Hôtel</a>
              <ul>
                <li><a href="hotel-casablanca.html">Casablanca</a></li>
                <li><a href="hotel-marrakesh.html">Marrakesh</a></li>
                <li><a href="hotel-rabat.html">Rabat</a></li>
                <li><a href="hotel-fes.html">Fès</a></li>
                <li><a href="hotel-tangier.html">Tanger</a></li>
                <li><a href="hotel -tetouan.html">Tetouan</a></li>
                <li><a href="hotel -meknes.html">Meknes</a></li>
                <li><a href="hotel -chefchaoun.html">Chefchaouen</a></li>
                <li><a href="hotel -ifrane.html">Ifrane</a></li>
                <li><a href="hotel-agadir.html">Agadir</a></li>
                <li><a href="hotel-hociema.html">AlHociema</a></li>
                </ul></li>
                
                
          <li class="main-list-item"><a href="">Infos Pratiques</a>
                  <ul>
                    <li><a href="info_deplace.html">Se déplacer</a></li>
                    <li><a href="info_hebergement.html">Hébergement</a></li>
                    <li><a href="info_deguster.html">Déguster</a></li>
                    </ul></li>

                    <li class="main-list-item"><a href="">Chatbot</a>
                      <ul>
                        <li><a href="chatbot_app_anglais.html">English</a></li>
                        <li><a href="chatbot_app_francais.html">Français</a></li>
                        <li><a href="chatbot_app_arab.html">العربية</a></li>
                        </ul></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->

      <!-- Title heading -->
      <div class="title">
        <span class="heading">Places Célèbres à Fès</span>
      </div>
    </header>
    <!-- // Title heading -->

<!-- Start Portfolio -->
<div class=".container">
  <br>
  <br>
  
</div>      
<!-- Start Resume -->
<div class="resume">
<div class="container">
<p>Tourisme au Maroc Fès, Fès est la deuxième ville du Maroc en termes de population en raison de ses repères archéologiques qui indiquent sa civilisation à travers l'Antiquité islamique.Le plus important de ces monuments est le mur qui entoure la ville et ses huit portes. La vieille ville de Fès est la plus grande zone sans voiture au monde.</p>

</div>
</div>

<!-- End Resume -->
<br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/qaraouin.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>mosquée Qarawiyyin</h1>
 <br> <hr> <br>

    <p id="desc">La mosquée Qarawiyyin a été construite en 857 après JC et est considérée comme l'une des mosquées les plus anciennes et les plus célèbres du Royaume du Maroc. La plupart des parties de la mosquée ont été conçues à l'époque almoravide, c'est-à-dire au XIIe siècle, lorsque des dômes en salle de prière.
      La mosquée Qarawiyyin se caractérise par sa conception et sa décoration simples, en plus de la présence de dômes, d'arcs, d'inscriptions coraniques, de supplications et du minbar datant de l'époque almoravide. lieux touristiques importants de la ville de Fès. </p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/el_batha.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Musée Dar Al Batha</h1>
   <br> <hr> <br>
      <p id="desc">Ce musée a été construit sur ordre du sultan Moulay Abdelaziz en 1897 et a été transformé en 1915 en musée régional des arts et coutumes. Le musée était à l'origine un palais destiné à la résidence d'été et à la réception d'invités, avec un design maroco-espagnol.
        Le musée Dar Al Batha comprend une grande collection d'expositions comprenant des artefacts, de l'artisanat et plus encore.C'est un lieu fréquenté par de nombreux amateurs d'arts anciens qui viennent du monde entier pour en apprendre davantage sur le patrimoine marocain dans la ville de Fès.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/mathaf_elfounoun_fes.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Musée des Arts et Métiers du Bois</h1>
 <br> <hr> <br>
    <p id="desc">Le Musée des Arts et Métiers du Bois comprend une grande collection d'œuvres et de sculptures en bois anciennes, qui sont exposées dans un bâtiment historique, qui est l'un des plus beaux bâtiments de la ville de Fès au Maroc. Le musée présente l'histoire et l'originalité de la menuiserie et des arts du bois dans la ville de Fès, il est donc considéré comme l'un des lieux touristiques les plus importants de Fès</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/bouananiya.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>madrasa bou inania</h1>
   <br> <hr> <br>
      <p id="desc">L'école Bouanania a été construite entre 1350 et 1355 sur ordre du sultan Abou Inan al-Marini. Elle est considérée comme l'une des écoles les plus célèbres de la ville de Fès et du Maroc en général, notamment pour son rôle important en tant qu'établissement d'enseignement et lieu de résidence pour étudiants.
        L'école comprend un magnifique ermitage par sa construction et les décorations qu'elle porte, en plus d'une horloge à eau dont le mécanisme de fonctionnement est inconnu jusqu'à présent.L'école est aujourd'hui l'un des lieux touristiques les plus importants de Fès.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/bab_bou_ljloud.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Bab abu al-Jolud</h1>
 <br> <hr> <br>
    <p id="desc">Bab abu al-Jolud est l'une des portes les plus célèbres de la muraille entourant la vieille ville de Fès.Cette porte est située dans le nord-ouest de la ville et à côté de la place Al-Baghdadi Pacha.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/zaouyat_moulay_driss.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>zaouia Moulay Idriss</h1>
   <br> <hr> <br>
      <p id="desc">La Zaouia Moulay Idris est un bâtiment qui abrite le tombeau d'Idris II, qui régna sur le Maroc entre 807 et 828 après JC. Cet endroit est l'un des lieux touristiques de Fès, où de nombreux visiteurs de tout le Maroc, en plus des touristes du monde, affluent.
        Le bâtiment Zaouia Moulay Idriss est considéré comme l'un des plus beaux bâtiments de Fès, et c'est vraiment un chef-d'œuvre architectural à visiter.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/elbourj_chama.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Tour Nord</h1>
 <br> <hr> <br>
    <p id="desc">Appelée aussi Borj Al Shamal, c'est une ancienne forteresse construite par les Saadiens en 1582 au nord de Fès.Sa conception s'inspire de la forme des châteaux portugais qui existaient au XVIe siècle.
      La Tour Nord est l'un des plus grands points d'observation de la ville de Fès, autrefois usine de canons traditionnels, elle est aujourd'hui un musée d'armes traditionnelles.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/asour_fes.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Les murs de Fès</h1>
   <br> <hr> <br>
      <p id="desc">Ces murs sont considérés comme l'une des attractions touristiques les plus importantes de Fès, datant de la période au cours de laquelle Al-Nasir Al-Muwahhid a régné entre 1199 et 1213 après JC. Ces murs entourent la ville de Fès et sont entrecoupés de nombreuses portes, qui portent le nom de la domination idrisside et zénatite au Maroc.Les plus célèbres de ces portes sont Bab al-Futuh, Bab al-Kanisieh, Bab al-Hamra et Bab al -Jadid.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
<!-- End Portfolio -->
  
  <br><br><br>
<!-- Footer -->
<footer>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h1 class="logo-text">
          <span class="logo-span">Amine Elachar & Abdallah EL MAAZOUZI</span>
        </h1>
        <p class="footer-para">
          Les chatbots au service du tourisme numérique
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i>&nbsp; +33667969541</span>
          <span
            ><i class="fas fa-envelope"></i>&nbsp;
            amine.abdallah@gmail.com</span
          >
        </div>
        <div class="socials">
          <a
            href="https://www.facebook.com"
            target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="https://www.linkedin.com"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://twitter.com" target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://github.com" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; Copyright All Rights Reserved
    </div>
  </div>
</footer>
<!-- // Footer -->
  </body>
</html>
