<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <title>Places Célèbres à AlHociema</title>
  </head>

  <body>
    <!-- Header and Nav -->
    <header class="hotel_hociema">
      <nav>
        <div class="main">
          <ul class="main-list">
            <li class="main-list-item"><a href="index.html">Accueil </a></li>
            <li class="active main-list-item"><a href="">Places Célèbres</a>
                <ul>
                  <li><a href="casa.html">Casablanca</a></li>
                  <li><a href="Kech.html">Marrakesh</a></li>
                  <li><a href="rabat.html">Rabat</a></li>
                  <li><a href="fes.html">Fès</a></li>
                  <li><a href="tanger.html">Tanger</a></li>
                  <li><a href="tetouan.html">Tetouan</a></li>
                  <li><a href="meknes.html">Meknes</a></li>
                  <li><a href="chefchaouen.html">Chechaouen</a></li>
                  <li><a href="ifran.html">Ifrane</a></li>
                  <li><a href="agadir.html">Agadir</a></li>
                  <li><a href="hociema.html">AlHociema</a></li>
                  </ul></li>
            <li class="main-list-item"><a href="">Hôtel</a>
              <ul>
                <li><a href="hotel-casablanca.html">Casablanca</a></li>
                <li><a href="hotel-marrakesh.html">Marrakesh</a></li>
                <li><a href="hotel-rabat.html">Rabat</a></li>
                <li><a href="hotel-fes.html">Fès</a></li>
                <li><a href="hotel-tangier.html">Tanger</a></li>
                <li><a href="hotel -tetouan.html">Tetouan</a></li>
                <li><a href="hotel -meknes.html">Meknes</a></li>
                <li><a href="hotel -chefchaoun.html">Chefchaouen</a></li>
                <li><a href="hotel -ifrane.html">Ifrane</a></li>
                <li><a href="hotel-agadir.html">Agadir</a></li>
                <li><a href="hotel-hociema.html">AlHociema</a></li>
                </ul></li>
                
                
          <li class="main-list-item"><a href="">Infos Pratiques</a>
                  <ul>
                    <li><a href="info_deplace.html">Se déplacer</a></li>
                    <li><a href="info_hebergement.html">Hébergement</a></li>
                    <li><a href="info_deguster.html">Déguster</a></li>
                    </ul></li>

                    <li class="main-list-item"><a href="">Chatbot</a>
                      <ul>
                        <li><a href="chatbot_app_anglais.html">English</a></li>
                        <li><a href="chatbot_app_francais.html">Français</a></li>
                        <li><a href="chatbot_app_arab.html">العربية</a></li>
                        </ul></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->

      <!-- Title heading -->
      <div class="title">
        <span class="heading">Places Célèbres à AlHociema</span>
      </div>
    </header>
    <!-- // Title heading -->


<!-- Start Portfolio -->
<div class=".container">
  <br>
  <br>
  
</div>      
<!-- Start Resume -->
<div class="resume">
<div class="container">
<p>La ville d'Al Hoceima est l'une des plus belles villes touristiques du Maroc, la plus ancienne de l'histoire et la plus populaire et attire l'attention des touristes locaux, arabes et étrangers, en raison de ses belles plages de montagne aux eaux cristallines et de ses grands endroits archéologiques et historiques, endroits religieux.
  Si vous êtes amateur de safari, de camping, d'escalade et d'observation de la faune, alors Al Hoceima Maroc est définitivement votre destination idéale pour de telles vacances.
  Par conséquent, l'article suivant fournit les informations les plus importantes sur la ville touristique d'Al Hoceima que chaque touriste doit connaître avant de s'y rendre, afin que vous puissiez voir la ville d'Al Hoceima avec des images naturelles, c'est peut-être votre prochaine destination.</p>

</div>
</div>

<!-- End Resume -->
<br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/kimadou.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Plage de Kimado</h1>
 <br> <hr> <br>
    <p id="desc">Les plages les plus célèbres de la ville d'Al Hoceima, qui attirent chaque année un grand nombre de touristes du monde entier.
      Où la plage a une nature pittoresque, reflétée dans les marches rocheuses et les collines voisines qui l'ornent d'une courte langue qui s'étend dans l'eau de mer claire, en plus de quelques arbres et espaces verts poussant sur son sable doré pur.
      La plage de kimado, que vous pouvez reconnaître comme l'un des monuments les plus importants lorsque vous voyez la ville d'Al Hoceima en images, offre également de grandes opportunités pour les sports nautiques et les activités récréatives de plage.La plage est un endroit idéal pour plonger, regarder et photographier le les plus beaux récifs coralliens colorés et les créatures marines rares au fond de la mer.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/mazma.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>archéologique d'Al Mezma</h1>
   <br> <hr> <br>
      <p id="desc">L'un des endroits archéologiques les plus importants de la ville d'Al Hoceima, qui est visité par un grand nombre de Marocains et de touristes étrangers en raison de son histoire ancienne remontant au IXe siècle après J. dans la région à l'époque, ce qui a conduit à la fondation de l'Andalousie et aux incidents et événements que la ville a vécus au cours de cette période.
        La ville antique était célèbre tout au long de son histoire pour la fabrication de navires et de poteries et son architecture accrocheuse, en plus de son rôle dans le passé de forteresse défensive protégeant la ville des attaques ennemies.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/mountazah_hociema.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Parc national d'Al Hoceima</h1>
 <br> <hr> <br>
    <p id="desc">L'un des plus beaux endroits naturels de la ville marocaine d'Al Hoceima, qui peut être traitée comme une réserve naturelle pour protéger les richesses végétales et animales de la ville et du Royaume de la menace d'extinction.
      Le parc abrite les plus populaires et visités par les résidents du Royaume et ses visiteurs arabes et étrangers, environ 60 espèces d'oiseaux, dont certaines sont rares et menacées, comme les aigles de mer et les porcs-épics brachycéphales, 86 espèces de poissons et créatures marines comme les phoques, les dauphins et les coraux, et les plantes locales comme le genévrier, le chêne et le harfa.
      Cela s'ajoute à de magnifiques chaînes de montagnes et à des unités d'hébergement de luxe distinctives réparties dans le parc, avec un climat doux qui attire les visiteurs tout au long de l'année.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/souani.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Plage de Swani</h1>
   <br> <hr> <br>
      <p id="desc">L'une des plages d'Al Hoceima, au Maroc, qui jouit d'une popularité et d'une renommée parmi les résidents locaux de la ville et des villes marocaines voisines, ainsi que les touristes étrangers venant de l'extérieur du pays en raison de sa belle nature et de son importance historique indéniable.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/minaa_hociema.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>port d'Al Hoceima</h1>
 <br> <hr> <br>
    <p id="desc">L'une des attractions touristiques les plus populaires et les plus attrayantes pour les touristes locaux et étrangers lors de la visite de la ville d'Al Hoceima, au Maroc.En plus du fait que la navigation à l'intérieur du port est l'un des moyens de transport les plus importants dans l'ancienne ville marocaine, le l'endroit est merveilleux et idéal pour une sortie en famille, que ce soit en errant ou en s'asseyant dans l'un des restaurants et cafés haut de gamme surplombant le port et en prenant un repas des spécialités locales ou internationales tout en profitant de la jolie vue dégagée sur la mer.
      Si vous êtes de nouveaux couples venus pour vos vacances de lune de miel à Al Hoceima, au Maroc, vous pouvez profiter d'un dîner romantique le soir dans l'un des restaurants près de la zone portuaire surplombant la côte maritime.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/arbiaa tawrirt.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Château d'Arbaa Taourirt</h1>
   <br> <hr> <br>
      <p id="desc">L'un des monuments les plus importants laissés par la colonisation espagnole dans la ville d'Al Hoceima, au Maroc, depuis 1936.
        Le château, qui a été construit pour surveiller le cœur de la ville et ses abords pendant la période d'occupation, ressemble à des tours militaires ressemblant à des silos, adoptés par les habitants de la région pour préserver les récoltes.Il se compose de 99 chambres conçues dans un cadre luxueux. et un style architectural élégant.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/claponita.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Plage de Clabonita</h1>
 <br> <hr> <br>
    <p id="desc">L'une des plus belles plages d'Al Hoceima, au Maroc, idéale pour ceux qui recherchent une atmosphère calme de détente et de loisirs, ainsi que pour les amateurs de safaris, de camping et d'alpinisme, avec de grandes possibilités de bronzer sous le soleil doux et de pratiquer sports nautiques comme la natation et la plongée.
      Où la plage est située à proximité du site archéologique d'Al-Mazma et bénéficie d'une nature arborée avec du sable pur et de l'eau claire, idéale pour la plongée et divers sports nautiques.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/toriss.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Château de Tauris</h1>
   <br> <hr> <br>
      <p id="desc">L'un des plus anciens endroits archéologiques d'Al Hoceima, datant de l'époque des explorateurs portugais au XVe siècle avant que les Espagnols ne la marquent lors de leur occupation de la ville au milieu du XVIe siècle.
        Le château de Tauris ou Sanhaja, autrement dit, se distingue par ses cinq tours militaires et sa magnifique vue panoramique sur la côte méditerranéenne.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/masjid_laatik.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>mosquée al atiq</h1>
 <br> <hr> <br>
    <p id="desc">L'une des mosquées historiques les plus célèbres et les plus spacieuses d'Al Hoceima, au Maroc. La zone de la mosquée, qui est l'un des principaux signes de la ville, est d'environ 600 mètres et peut accueillir environ 1200 fidèles. Peut-être l'élégant oriental le style architectural et les décorations et inscriptions islamiques qui décorent les façades externes et internes de la mosquée sont la chose la plus importante qui attire l'attention des touristes arab</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/adrouz.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Mosquée adruze</h1>
   <br> <hr> <br>
      <p id="desc">L'un des monuments religieux les plus importants et les plus anciens de la ville marocaine d'Al Hoceima, qui attire l'attention des touristes arabes et étrangers en abondance grâce à sa conception architecturale traditionnelle simple qui s'étend sur des siècles, au cours desquels la mosquée était l'une des principales plates-formes. pour enseigner le Saint Coran et les principes de la jurisprudence et de la charia.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
<!-- End Portfolio -->
  <!-- Footer -->
  <footer>
    <div class="footer">
      <div class="footer-content">
        <div class="footer-section about">
          <h1 class="logo-text">
            <span class="logo-span">Amine Elachar & Abdallah EL MAAZOUZI</span>
          </h1>
          <p class="footer-para">
            Les chatbots au service du tourisme numérique
          </p>
          <div class="contact">
            <span><i class="fas fa-phone"></i>&nbsp; +33667969541</span>
            <span
              ><i class="fas fa-envelope"></i>&nbsp;
              amine.abdallah@gmail.com</span
            >
          </div>
          <div class="socials">
            <a
              href="https://www.facebook.com"
              target="_blank"
              ><i class="fab fa-facebook"></i
            ></a>
            <a
              href="https://www.linkedin.com"
              target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a href="https://twitter.com" target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
            <a href="https://github.com" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        &copy; Copyright All Rights Reserved
      </div>
    </div>
  </footer>
<!-- // Footer -->
  </body>
</html>
