<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <title>hotel ifrane</title>
  </head>

  <body>
    <!-- Header and Nav -->
    <header class="hotel_ifrane">
      <nav>
        <div class="main">
          <ul class="main-list">
            <li class="main-list-item"><a href="index.html">Accueil </a></li>
            <li class="main-list-item" ><a href="">Places Célèbres</a>
                <ul>
                  <li><a href="casa.html">Casablanca</a></li>
                  <li><a href="Kech.html">Marrakesh</a></li>
                  <li><a href="rabat.html">Rabat</a></li>
                  <li><a href="fes.html">Fès</a></li>
                  <li><a href="tanger.html">Tanger</a></li>
                  <li><a href="tetouan.html">Tetouan</a></li>
                  <li><a href="meknes.html">Meknes</a></li>
                  <li><a href="chefchaouen.html">Chefchaouen</a></li>
                  <li><a href="ifran.html">Ifrane</a></li>
                  <li><a href="agadir.html">Agadir</a></li>
                  <li><a href="hociema.html">AlHociema</a></li>
                  </ul></li>
            <li class="active main-list-item"><a href="">Hôtel</a>
              <ul>
                <li><a href="hotel-casablanca.html">Casablanca</a></li>
                <li><a href="hotel-marrakesh.html">Marrakesh</a></li>
                <li><a href="hotel-rabat.html">Rabat</a></li>
                <li><a href="hotel-fes.html">Fès</a></li>
                <li><a href="hotel-tangier.html">Tanger</a></li>
                <li><a href="hotel -tetouan.html">Tetouan</a></li>
                <li><a href="hotel -meknes.html">Meknes</a></li>
                <li><a href="hotel -chefchaoun.html">Chechaouen</a></li>
                <li><a href="hotel -ifrane.html">Ifrane</a></li>
                <li><a href="hotel-agadir.html">Agadir</a></li>
                <li><a href="hotel-hociema.html">AlHociema</a></li>
                </ul></li>
                
                
          <li class="main-list-item"><a href="">Infos Pratiques</a>
                  <ul>
                    <li><a href="info_deplace.html">Se déplacer</a></li>
                    <li><a href="info_hebergement.html">Hébergement</a></li>
                    <li><a href="info_deguster.html">Déguster</a></li>
                    </ul></li>
  
                    <li class="main-list-item"><a href="">Chatbot</a>
                      <ul>
                        <li><a href="chatbot_app_anglais.html">English</a></li>
                        <li><a href="chatbot_app_francais.html">Français</a></li>
                        <li><a href="chatbot_app_arab.html">العربية</a></li>
                        </ul></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->
  
      <!-- Title heading -->
      <div class="title">
        <span class="heading">Hôtel à Ifrane</span>
      </div>
    </header>
    <!-- // Title heading -->

<!-- Start Portfolio -->
<div class=".container">
  <br>
  <br>
  
</div>      
<!-- Start Resume -->
<div class="resume">
<div class="container">
<p>Ifrane est célèbre pour ses hôtels haut de gamme de différents niveaux, donc quelles que soient les possibilités de votre voyage, vous trouverez certainement votre bonheur parmi les hôtels marocains calmes d'Ifrane. </p></div>
</div>
<br><br>
<!-- End Resume -->
     <!-- Start Portfolio -->
     <div class="portfolio">
      <div class="container">

            <div class="our-work">
                 <div><img src="../assets/images/hotel/ifrane/michlifen.jpg" alt="image1" width="100" height="150" onmouseover="afficher(this)"></div>  
                 <div><img src="../assets/images/hotel/ifrane/raslma.jpg" alt="image2" width="100" height="150" onmouseover="afficher(this)"></div> 
                 <div><img src="../assets/images/hotel/ifrane/hotel park.jpg" alt="image3" width="100" height="150" onmouseover="afficher(this)"></div> 
                 <div><img src="../assets/images/hotel/ifrane/ifrane pLce.jpg" alt="image4" width="100" height="150" onmouseover="afficher(this)"></div>  
                 <div><img src="../assets/images/hotel/ifrane/la mison.webp" alt="image5"  width="100" height="150"onmouseover="afficher(this)"></div> 

              </div>
      </div>
    </div>

    <!-- End Portfolio -->


<br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/images/hotel/ifrane/michlifen.jpg" alt="entre" width="640" height="443" class="xxx" id="im">    
</div>
<div class="info">
 <h1 id="title">Micheleven Resort & Golf Hôtel</h1>
 <br> <hr> <br>
    <br>
    <p id="desc">L'un des meilleurs hôtels 5 étoiles d'Ifrane pour ses chambres climatisées avec une vue magnifique sur les forêts ou la piscine.L'hôtel propose un club de santé qui propose des services de sauna, des massages et des soins de beauté, et au niveau des services, il propose Internet et un parking gratuit.L'hôtel est situé dans la rue Hassan II, à proximité du parc national, à 0,3 km de Hajar Lion, à 5,5 km de la ville marocaine d'Ifrane.</p>
</div>
</div>
</div>
<!-- end 1 --> 
  
<br><br><br><br><br>
   <!-- Footer -->
   <footer>
    <div class="footer">
      <div class="footer-content">
        <div class="footer-section about">
          <h1 class="logo-text">
            <span class="logo-span">Amine Elachar & Abdallah EL MAAZOUZI</span>
          </h1>
          <p class="footer-para">
            Les chatbots au service du tourisme numérique
          </p>
          <div class="contact">
            <span><i class="fas fa-phone"></i>&nbsp; +33667969541</span>
            <span
              ><i class="fas fa-envelope"></i>&nbsp;
              amine.abdallah@gmail.com</span
            >
          </div>
          <div class="socials">
            <a
              href="https://www.facebook.com"
              target="_blank"
              ><i class="fab fa-facebook"></i
            ></a>
            <a
              href="https://www.linkedin.com"
              target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a href="https://twitter.com" target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
            <a href="https://github.com" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        &copy; Copyright All Rights Reserved
      </div>
    </div>
  </footer>
<!-- // Footer -->
    <script>
     function afficher(t){
     var a=t.alt;
    if(a=="image1"){
      document.getElementById('title').innerHTML="Micheleven Resort & Golf Hôtel";
      document.getElementById('desc').innerHTML="L'un des meilleurs hôtels 5 étoiles d'Ifrane pour ses chambres climatisées avec une vue magnifique sur les forêts ou la piscine.L'hôtel propose un club de santé qui propose des services de sauna, des massages et des soins de beauté, et au niveau des services, il propose Internet et un parking gratuit.L'hôtel est situé dans la rue Hassan II, à proximité du parc national, à 0,3 km de Hajar Lion, à 5,5 km de la ville marocaine d'Ifrane.";
      document.getElementById('im').src="../assets/images/hotel/ifrane/michlifen.jpg";
    }
    if(a=="image2"){
      document.getElementById('title').innerHTML="Hôtel Relais Ras El Maa";
      document.getElementById('desc').innerHTML="Les hôtels les plus importants d'Ifrane au Maroc sont de style traditionnel, 3 étoiles, et l'hôtel est proche des pistes de ski et propose un jardin et une terrasse.L'hôtel propose un parking gratuit et organise des visites guidées via son propre bureau. Le Relais Ras El Maa est situé à 3,5 minutes de la ville d'Ifrane, à 5 minutes à pied du parc de la source d'eau de Vitel.";
      document.getElementById('im').src="../assets/images/hotel/ifrane/raslma.jpg";
    }
    if(a=="image3"){
      document.getElementById('title').innerHTML="Hôtel Park d'Ifrane";
      document.getElementById('desc').innerHTML="L'un des meilleurs hôtels 3 étoiles à Ifrane Maroc, c'est une maison de vacances avec deux chambres et une cuisine entièrement équipée.L'établissement se trouve à environ 3,3 km du lac d'Ifrane.";
      document.getElementById('im').src="../assets/images/hotel/ifrane/hotel park.jpg";
    }
    if(a=="image4"){
      document.getElementById('title').innerHTML="Ifran Palace Resort";
      document.getElementById('desc').innerHTML="Si vous cherchez parmi les hôtels d'Ifrane un hôtel qui vous offre un niveau de services acceptable à un prix raisonnable, voici l'Afran Palace Resort, qui propose des chambres équipées de commodités et de luxe avec vue sur le jardin de l'hôtel ou sur la voie publique. Le complexe dispose d'une réception ouverte 24 heures sur 24. Le complexe est situé à 4 km de la ville d'Ifrane, à 1 km de la Pierre du Lion et à 47 km de l'aéroport de Saiss.";
      document.getElementById('im').src="../assets/images/hotel/ifrane/ifrane pLce.jpg";
    }
    if(a=="image5"){
      document.getElementById('title').innerHTML="La Maison Bleu";
      document.getElementById('desc').innerHTML="Les hôtels les plus importants d'Ifrane au Maroc sont de style traditionnel , L'hôtel propose un service de billetterie, un enregistrement et un départ express,";
      document.getElementById('im').src="../assets/images/hotel/ifrane/la mison.webp";
    }

     }
    </script>
  </body>
</html>
