<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <title>hotel marrakesh</title>
  </head>

  <body>
    <!-- Header and Nav -->
    <header class="hotel_kesh">
      <nav>
        <div class="main">
          <ul class="main-list">
            <li class="main-list-item"><a href="index.html">Accueil </a></li>
            <li class="main-list-item" ><a href="">Places Célèbres</a>
                <ul>
                  <li><a href="casa.html">Casablanca</a></li>
                  <li><a href="Kech.html">Marrakesh</a></li>
                  <li><a href="rabat.html">Rabat</a></li>
                  <li><a href="fes.html">Fès</a></li>
                  <li><a href="tanger.html">Tanger</a></li>
                  <li><a href="tetouan.html">Tetouan</a></li>
                  <li><a href="meknes.html">Meknes</a></li>
                  <li><a href="chefchaouen.html">Chefchaouen</a></li>
                  <li><a href="ifran.html">Ifrane</a></li>
                  <li><a href="agadir.html">Agadir</a></li>
                  <li><a href="hociema.html">AlHociema</a></li>
                  </ul></li>
            <li class="active main-list-item"><a href="">Hôtel</a>
              <ul>
                <li><a href="hotel-casablanca.html">Casablanca</a></li>
                <li><a href="hotel-marrakesh.html">Marrakesh</a></li>
                <li><a href="hotel-rabat.html">Rabat</a></li>
                <li><a href="hotel-fes.html">Fès</a></li>
                <li><a href="hotel-tangier.html">Tanger</a></li>
                <li><a href="hotel -tetouan.html">Tetouan</a></li>
                <li><a href="hotel -meknes.html">Meknes</a></li>
                <li><a href="hotel -chefchaoun.html">Chefchaouen</a></li>
                <li><a href="hotel -ifrane.html">Ifrane</a></li>
                <li><a href="hotel-agadir.html">Agadir</a></li>
                <li><a href="hotel-hociema.html">AlHociema</a></li>
                </ul></li>
                
                
          <li class="main-list-item"><a href="">Infos Pratiques</a>
                  <ul>
                    <li><a href="info_deplace.html">Se déplacer</a></li>
                    <li><a href="info_hebergement.html">Hébergement</a></li>
                    <li><a href="info_deguster.html">Déguster</a></li>
                    </ul></li>
  
                    <li class="main-list-item"><a href="">Chatbot</a>
                      <ul>
                        <li><a href="chatbot_app_anglais.html">English</a></li>
                        <li><a href="chatbot_app_francais.html">Français</a></li>
                        <li><a href="chatbot_app_arab.html">العربية</a></li>
                        </ul></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->
  
      <!-- Title heading -->
      <div class="title">
        <span class="heading">Hôtel à Marrakech</span>
      </div>
    </header>
    <!-- // Title heading -->

<!-- Start Portfolio -->
<div class=".container">
  <br>
  <br>
  
</div>      
<!-- Start Resume -->
<div class="resume">
<div class="container">
<p>La ville de Marrakech comprend de nombreux hôtels haut de gamme au Maroc , dont la plupart sont concentrés au cœur de la ville.
</p></div>
</div>
<br><br>
<!-- End Resume -->
     <!-- Start Portfolio -->
     <div class="portfolio">
      <div class="container">

            <div class="our-work">
                 <div><img src="../assets/images/hotel/kesh/red.jpg" alt="image1" width="100" height="150" onmouseover="afficher(this)"></div>  
                 <div><img src="../assets/images/hotel/kesh/wazo.jpg" alt="image2" width="100" height="150" onmouseover="afficher(this)"></div> 
                 <div><img src="../assets/images/hotel/kesh/lawrence.jpg" alt="image3" width="100" height="150" onmouseover="afficher(this)"></div> 
                 <div><img src="../assets/images/hotel/kesh/relax.jpg" alt="image4" width="100" height="150" onmouseover="afficher(this)"></div>  
                 <div><img src="../assets/images/hotel/kesh/kech.jpg" alt="image5"  width="100" height="150"onmouseover="afficher(this)"></div> 

              </div>
      </div>
    </div>

    <!-- End Portfolio -->


<br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/images/hotel/kesh/red.jpg" alt="entre" width="640" height="443" class="xxx" id="im">    
</div>
<div class="info">
 <h1 id="title">Hôtel Red Marrakech</h1>
 <br> <hr> <br>
    <br>
    <p id="desc">Un hôtel à Marrakech est situé en face de la gare et se trouve à seulement 500 mètres du Centre des congrès de Marrakech.

      L’Hotel Red Marrakech se trouve à 6 minutes en voiture de la place Jama Al-Yna et à 9 minutes en voiture de l’aéroport de Marrakech.
      
      Vous pouvez conduire aux magnifiques jardins du phare en 20 minutes.</p>
</div>
</div>
</div>
<!-- end 1 --> 


<br><br><br><br><br>
<!-- Footer -->
<footer>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h1 class="logo-text">
          <span class="logo-span">Amine Elachar & Abdallah EL MAAZOUZI</span>
        </h1>
        <p class="footer-para">
          Les chatbots au service du tourisme numérique
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i>&nbsp; +33667969541</span>
          <span
            ><i class="fas fa-envelope"></i>&nbsp;
            amine.abdallah@gmail.com</span
          >
        </div>
        <div class="socials">
          <a
            href="https://www.facebook.com"
            target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="https://www.linkedin.com"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://twitter.com" target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://github.com" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; Copyright All Rights Reserved
    </div>
  </div>
</footer>
<!-- // Footer -->
    <script>
     function afficher(t){
     var a=t.alt;
    if(a=="image1"){
      document.getElementById('title').innerHTML="Hôtel Red Marrakech";
      document.getElementById('desc').innerHTML="Un hôtel à Marrakech est situé en face de la gare et se trouve à seulement 500 mètres du Centre des congrès de Marrakech. L’Hotel Red Marrakech se trouve à 6 minutes en voiture de la place Jama Al-Yna et à 9 minutes en voiture de l’aéroport de Marrakech. Vous pouvez conduire aux magnifiques jardins du phare en 20 minutes.";
      document.getElementById('im').src="../assets/images/hotel/kesh/red.jpg";
    }
    if(a=="image2"){
      document.getElementById('title').innerHTML="Hôtel Wazo";
      document.getElementById('desc').innerHTML="L'un des meilleurs hôtels 4 étoiles de Marrakech, à environ 4 km du jardin Majorelle, propose des chambres élégantes avec balcon donnant sur le jardin, ainsi que des chambres familiales. L'hôtel dispose également d'une piscine et d'une aire de jeux pour enfants.";
      document.getElementById('im').src="../assets/images/hotel/kesh/wazo.jpg";
    }
    if(a=="image3"){
      document.getElementById('title').innerHTML="Hôtel Lawrence Darabi";
      document.getElementById('desc').innerHTML="L'élégant Hotel Lawrence Darabi est situé à seulement 20 minutes à pied de la célèbre place Jamaâ El Fna. L'hôtel est proche du Théâtre Royal, du Palais des Congrès, du parc Harti et du Royal Tennis Harti. Les célèbres jardins Majorelli sont à 1,5 km de l'établissement.C'est l'un des meilleurs hôtels pas chers de Marrakec";
      document.getElementById('im').src="../assets/images/hotel/kesh/lawrence.jpg";
    }
    if(a=="image4"){
      document.getElementById('title').innerHTML="Hôtel Relax Marrakech";
      document.getElementById('desc').innerHTML="Le Relax Marrakech Hotel bénéficie d'un emplacement calme, loin de l'agitation du centre-ville, à 3,3 km des jardins Majorelle et à environ 4 km du centre commercial Carré Eden et de Marrakech Plaza. Le meilleur hôtel 3 étoiles de Marrakech est proche de plusieurs commerces et restaurants. L'aéroport de Marrakech-Ménara est à 8 km de l'établissement.";
      document.getElementById('im').src="../assets/images/hotel/kesh/relax.jpg";
    }
    if(a=="image5"){
      document.getElementById('title').innerHTML="Kitsch Boutique Hôtel & Spa";
      document.getElementById('desc').innerHTML="L'un des meilleurs hôtels de Marrakech, au Maroc, se caractérise par son emplacement dans le quartier de l'Agdal, qui contient de nombreux lieux de divertissement et marchés, où l'hôtel se trouve à seulement 5 minutes à pied des commerces. L'hôtel est également proche des jardins d'Agdal et du Royal Equestrian Club, ainsi que du cinéma Megarama.";
      document.getElementById('im').src="../assets/images/hotel/kesh/kech.jpg";
    }

     }
    </script>
  </body>
</html>
