<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <title>hotel tangier</title>
  </head>

  <body>
    <!-- Header and Nav -->
    <header class="hotel_tangier">
      <nav>
        <div class="main">
          <ul class="main-list">
            <li class="main-list-item"><a href="index.html">Accueil </a></li>
            <li class="main-list-item" ><a href="">Places Célèbres</a>
                <ul>
                  <li><a href="casa.html">Casablanca</a></li>
                  <li><a href="Kech.html">Marrakesh</a></li>
                  <li><a href="rabat.html">Rabat</a></li>
                  <li><a href="fes.html">Fès</a></li>
                  <li><a href="tanger.html">Tanger</a></li>
                  <li><a href="tetouan.html">Tetouan</a></li>
                  <li><a href="meknes.html">Meknes</a></li>
                  <li><a href="chefchaouen.html">Chefchaouen</a></li>
                  <li><a href="ifran.html">Ifrane</a></li>
                  <li><a href="agadir.html">Agadir</a></li>
                  <li><a href="hociema.html">AlHociema</a></li>
                  </ul></li>
            <li class="active main-list-item"><a href="">Hôtel</a>
              <ul>
                <li><a href="hotel-casablanca.html">Casablanca</a></li>
                <li><a href="hotel-marrakesh.html">Marrakesh</a></li>
                <li><a href="hotel-rabat.html">Rabat</a></li>
                <li><a href="hotel-fes.html">Fès</a></li>
                <li><a href="hotel-tangier.html">Tanger</a></li>
                <li><a href="hotel -tetouan.html">Tetouan</a></li>
                <li><a href="hotel -meknes.html">Meknes</a></li>
                <li><a href="hotel -chefchaoun.html">Chefchaouen</a></li>
                <li><a href="hotel -ifrane.html">Ifrane</a></li>
                <li><a href="hotel-agadir.html">Agadir</a></li>
                <li><a href="hotel-hociema.html">AlHociema</a></li>
                </ul></li>
                
                
          <li class="main-list-item"><a href="">Infos Pratiques</a>
                  <ul>
                    <li><a href="info_deplace.html">Se déplacer</a></li>
                    <li><a href="info_hebergement.html">Hébergement</a></li>
                    <li><a href="info_deguster.html">Déguster</a></li>
                    </ul></li>
  
                    <li class="main-list-item"><a href="">Chatbot</a>
                      <ul>
                        <li><a href="chatbot_app_anglais.html">English</a></li>
                        <li><a href="chatbot_app_francais.html">Français</a></li>
                        <li><a href="chatbot_app_arab.html">العربية</a></li>
                        </ul></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->
  

      <!-- Title heading -->
      <div class="title">
        <span class="heading">Hôtel à Tanger</span>
      </div>
    </header>
    <!-- // Title heading -->

<!-- Start Portfolio -->
<div class=".container">
  <br>
  <br>
  
</div>      
<!-- Start Resume -->
<div class="resume">
<div class="container">
<p>
  Tangier est l'une des plus belles villes du Maroc qui contient de nombreux hôtels de luxe, qui offrent à tous les clients un séjour idéal en termes de confort et de plaisir.
</p></div>
</div>
<br><br>
<!-- End Resume -->
     <!-- Start Portfolio -->
     <div class="portfolio">
      <div class="container">

            <div class="our-work">
                 <div><img src="../assets/images/hotel/tangier/palace zahia.jpg" alt="image1" width="100" height="150" onmouseover="afficher(this)"></div>  
                 <div><img src="../assets/images/hotel/tangier/manar.jpeg" alt="image2" width="100" height="150" onmouseover="afficher(this)"></div> 
                 <div><img src="../assets/images/hotel/tangier/maison.jpg" alt="image3" width="100" height="150" onmouseover="afficher(this)"></div> 
                 <div><img src="../assets/images/hotel/tangier/kasbah rose.jpg" alt="image4" width="100" height="150" onmouseover="afficher(this)"></div>  
                 <div><img src="../assets/images/hotel/tangier/dar chams.jpg" alt="image5"  width="100" height="150"onmouseover="afficher(this)"></div> 

              </div>
      </div>
    </div>

    <!-- End Portfolio -->

<br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/images/hotel/tangier/palace zahia.jpg" alt="entre" width="640" height="443" class="xxx" id="im">    
</div>
<div class="info">
 <h1 id="title">Hôtel Palace Zahia</h1>
 <br> <hr> <br>
    <br>
    <p id="desc">
      L'un des meilleurs hôtels de Tangier qui propose des hébergements confortables avec un bureau, dont certains disposent d'une terrasse et d'un coin salon.
      Il dispose d'installations VIP, d'un spa et d'installations de massage, d'une connexion Internet gratuite et d'un bureau d'excursions.
      Il se trouve à 450 mètres du musée de la Kasbah, à 2,9 km du centre commercial Tangier City et à 14,5 km de l'aéroport Tangier Ibn Battuta.
      </p>
</div>
</div>
</div>
<!-- end 1 --> 

<br><br><br><br><br>
    <!-- Footer -->
    <footer>
      <div class="footer">
        <div class="footer-content">
          <div class="footer-section about">
            <h1 class="logo-text">
              <span class="logo-span">Amine Elachar & Abdallah EL MAAZOUZI</span>
            </h1>
            <p class="footer-para">
              Les chatbots au service du tourisme numérique
            </p>
            <div class="contact">
              <span><i class="fas fa-phone"></i>&nbsp; +33667969541</span>
              <span
                ><i class="fas fa-envelope"></i>&nbsp;
                amine.abdallah@gmail.com</span
              >
            </div>
            <div class="socials">
              <a
                href="https://www.facebook.com"
                target="_blank"
                ><i class="fab fa-facebook"></i
              ></a>
              <a
                href="https://www.linkedin.com"
                target="_blank"
                ><i class="fab fa-linkedin"></i
              ></a>
              <a href="https://twitter.com" target="_blank"
                ><i class="fab fa-twitter"></i
              ></a>
              <a href="https://github.com" target="_blank"
                ><i class="fab fa-github"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          &copy; Copyright All Rights Reserved
        </div>
      </div>
    </footer>
<!-- // Footer -->
    <script>
     function afficher(t){
     var a=t.alt;
    if(a=="image1"){
      document.getElementById('title').innerHTML="Hôtel Palace Zahia";
      document.getElementById('desc').innerHTML="L'un des meilleurs hôtels de Tangier qui propose des hébergements confortables avec un bureau, dont certains disposent d'une terrasse et d'un coin salon. Il dispose d'installations VIP, d'un spa et d'installations de massage, d'une connexion Internet gratuite et d'un bureau d'excursions.Il se trouve à 450 mètres du musée de la Kasbah, à 2,9 km du centre commercial Tangier City et à 14,5 km de l'aéroport Tangier Ibn Battuta.";
      document.getElementById('im').src="../assets/images/hotel/tangier/palace zahia.jpg";
    }
    if(a=="image2"){
      document.getElementById('title').innerHTML="Mnar Castle Tangier";
      document.getElementById('desc').innerHTML="Il comprend les hôtels les plus prestigieux de Tanger; En termes de son emplacement agréable avec vue sur la mer, et les appartements de différentes tailles qu'il propose. Il comprend des chambres familiales entièrement équipées, certaines insonorisées, et propose une connexion Internet gratuite, un service de garde d'enfants et deux piscines. Il se trouve à 1,8 km du cap Malabata et à 21,2 km de l'aéroport international de Tanger Ibn Battuta.";
      document.getElementById('im').src="../assets/images/hotel/tangier/manar.jpeg";
    }
    if(a=="image3"){
      document.getElementById('title').innerHTML="La Maison de Tangier";
      document.getElementById('desc').innerHTML="Il rivalise avec les hôtels de Tangier par sa situation centrale en centre-ville, avec des chambres et suites familiales avec de charmantes vues sur la mer.Certaines unités sont insonorisées, ainsi qu'une piscine, des installations de bien-être et de spa, un terrain de golf et des services de garde d'enfants.Il se trouve à 800 mètres du musée de la Kasbah, à 3,4 km du centre commercial City Mall Tangier et à 13,1 km de l'aéroport Tangier Ibn Battuta.";
      document.getElementById('im').src="../assets/images/hotel/tangier/maison.jpg";
    }
    if(a=="image4"){
      document.getElementById('title').innerHTML="Hôtel Kasbah Rose";
      document.getElementById('desc').innerHTML="Considéré comme le meilleur hôtel de Tangier, il offre de belles vues sur les montagnes de la ville.Il se compose également de chambres décorées avec un coin salon confortable.Il dispose d'une connexion Internet gratuite, d'un service de conciergerie et de chambres non-fumeurs.Il se trouve à 240 mètres de Dar El Makhzen, à 3,3 km du centre commercial Tanger City et à 14,9 km de l'aéroport Tanger Ibn Battuta.";
      document.getElementById('im').src="../assets/images/hotel/tangier/kasbah rose.jpg";
    }
    if(a=="image5"){
      document.getElementById('title').innerHTML="Dar Shams Tangier";
      document.getElementById('desc').innerHTML="Il offre des vues uniques et variées sur la ville et le golfe de Tangier.Il comprend également des chambres et des suites climatisées et insonorisées avec une connexion Internet gratuite et toutes les commodités.Il comprend également des chambres familiales et des installations VIP, avec un service de navette, des visites à pied, un parcours de golf, une bibliothèque et des massages. Il se trouve à 96 mètres du musée de la Kasbah, à 3,2 km du centre commercial Tangier City et à 14,8 km de l'aéroport Tangier Ibn Battuta.";
      document.getElementById('im').src="../assets/images/hotel/tangier/dar chams.jpg";
    }
    
    
    
    

     }
    </script>
  </body>
</html>
