<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <title>hotel meknes</title>
  </head>

  <body>
    <!-- Header and Nav -->
    <header class="hotel_meknes">
      <nav>
        <div class="main">
          <ul class="main-list">
            <li class="main-list-item"><a href="index.html">Accueil </a></li>
            <li class="main-list-item" ><a href="">Places Célèbres</a>
                <ul>
                  <li><a href="casa.html">Casablanca</a></li>
                  <li><a href="Kech.html">Marrakesh</a></li>
                  <li><a href="rabat.html">Rabat</a></li>
                  <li><a href="fes.html">Fès</a></li>
                  <li><a href="tanger.html">Tanger</a></li>
                  <li><a href="tetouan.html">Tetouan</a></li>
                  <li><a href="meknes.html">Meknes</a></li>
                  <li><a href="chefchaouen.html">Chefchaouen</a></li>
                  <li><a href="ifran.html">Ifrane</a></li>
                  <li><a href="agadir.html">Agadir</a></li>
                  <li><a href="hociema.html">AlHociema</a></li>
                  </ul></li>
            <li class="active main-list-item"><a href="">Hôtel</a>
              <ul>
                <li><a href="hotel-casablanca.html">Casablanca</a></li>
                <li><a href="hotel-marrakesh.html">Marrakesh</a></li>
                <li><a href="hotel-rabat.html">Rabat</a></li>
                <li><a href="hotel-fes.html">Fès</a></li>
                <li><a href="hotel-tangier.html">Tanger</a></li>
                <li><a href="hotel -tetouan.html">Tetouan</a></li>
                <li><a href="hotel -meknes.html">Meknes</a></li>
                <li><a href="hotel -chefchaoun.html">Chechaouen</a></li>
                <li><a href="hotel -ifrane.html">Ifrane</a></li>
                <li><a href="hotel-agadir.html">Agadir</a></li>
                <li><a href="hotel-hociema.html">AlHociema</a></li>
                </ul></li>
                
                
          <li class="main-list-item"><a href="">Infos Pratiques</a>
                  <ul>
                    <li><a href="info_deplace.html">Se déplacer</a></li>
                    <li><a href="info_hebergement.html">Hébergement</a></li>
                    <li><a href="info_deguster.html">Déguster</a></li>
                    </ul></li>
  
                    <li class="main-list-item"><a href="">Chatbot</a>
                      <ul>
                        <li><a href="chatbot_app_anglais.html">English</a></li>
                        <li><a href="chatbot_app_francais.html">Français</a></li>
                        <li><a href="chatbot_app_arab.html">العربية</a></li>
                        </ul></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->
  
      <!-- Title heading -->
      <div class="title">
        <span class="heading">Hôtel à Meknes</span>
      </div>
    </header>
    <!-- // Title heading -->

<!-- Start Portfolio -->
<div class=".container">
  <br>
  <br>
  
</div>      
<!-- Start Resume -->
<div class="resume">
<div class="container">
<p>La ville de Meknès comprend de nombreux hôtels élégants au Maroc .
</p></div>
</div>
<br><br>
<!-- End Resume -->
     <!-- Start Portfolio -->
     <div class="portfolio">
      <div class="container">

            <div class="our-work">
                 <div><img src="../assets/images/hotel/meknes/yacout.jpg" alt="image1" width="100" height="150" onmouseover="afficher(this)"></div>  
                 <div><img src="../assets/images/hotel/meknes/tresor.jpg" alt="image2" width="100" height="150" onmouseover="afficher(this)"></div> 
                 <div><img src="../assets/images/hotel/meknes/swani.png" alt="image3" width="100" height="150" onmouseover="afficher(this)"></div> 
                 <div><img src="../assets/images/hotel/meknes/spa.jpg" alt="image4" width="100" height="150" onmouseover="afficher(this)"></div>  
                 <div><img src="../assets/images/hotel/meknes/ritag.jpg" alt="image5"  width="100" height="150"onmouseover="afficher(this)"></div> 

              </div>
      </div>
    </div>

    <!-- End Portfolio -->


<br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/images/hotel/meknes/yacout.jpg" alt="entre" width="640" height="443" class="xxx" id="im">    
</div>
<div class="info">
 <h1 id="title">Riad Yacout</h1>
 <br> <hr> <br>
    <br>
    <p id="desc">Le Riad Yacout est l'un des hôtels les plus luxueux de Meknès, au Maroc. Il est situé dans un bâtiment historique datant de 1830 au cœur de la ville de Meknès, il se distingue donc par des décorations et des designs exquis. Il se trouve à seulement 350 mètres de La porte Bab El Mansour, tandis que l'aéroport international de Sais est à 74,4 km.
      L'hôtel surplombe les anciens remparts de la ville de Moulay Ismail et dispose d'une cour unique qui imite le patrimoine marocain. Il propose également un grand nombre d'activités, notamment des visites et des épisodes sur la culture locale et des spectacles de musique en direct. </p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>

 <!-- Footer -->
 <footer>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h1 class="logo-text">
          <span class="logo-span">Amine Elachar & Abdallah EL MAAZOUZI</span>
        </h1>
        <p class="footer-para">
          Les chatbots au service du tourisme numérique
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i>&nbsp; +33667969541</span>
          <span
            ><i class="fas fa-envelope"></i>&nbsp;
            amine.abdallah@gmail.com</span
          >
        </div>
        <div class="socials">
          <a
            href="https://www.facebook.com"
            target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="https://www.linkedin.com"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://twitter.com" target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://github.com" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; Copyright All Rights Reserved
    </div>
  </div>
</footer>
<!-- // Footer -->
    <script>
     function afficher(t){
     var a=t.alt;
    if(a=="image1"){
      document.getElementById('title').innerHTML="Riad Yacout";
      document.getElementById('desc').innerHTML="Le Riad Yacout est l'un des hôtels les plus luxueux de Meknès, au Maroc. Il est situé dans un bâtiment historique datant de 1830 au cœur de la ville de Meknès, il se distingue donc par des décorations et des designs exquis. Il se trouve à seulement 350 mètres de La porte Bab El Mansour, tandis que l'aéroport international de Sais est à 74,4 km. L'hôtel surplombe les anciens remparts de la ville de Moulay Ismail et dispose d'une cour unique qui imite le patrimoine marocain. Il propose également un grand nombre d'activités, notamment des visites et des épisodes sur la culture locale et des spectacles de musique en direct. ";
      document.getElementById('im').src="../assets/images/hotel/meknes/yacout.jpg";
    }
    if(a=="image2"){
      document.getElementById('title').innerHTML="Trésor de Dar Meknes";
      document.getElementById('desc').innerHTML="L'hôtel est proche du centre-ville de Meknès, à 5,6 km, et la gare Prince Abdelkader est à 4,2 km.L'hôtel propose des visites à pied, une visite ou un cours sur la culture locale moyennant des frais supplémentaires, le petit-déjeuner en chambre, des chambres familiales et des chambres non-fumeurs.";
      document.getElementById('im').src="../assets/images/hotel/meknes/tresor.jpg";
    }
    if(a=="image3"){
      document.getElementById('title').innerHTML="Hôtel Suwanee";
      document.getElementById('desc').innerHTML=" Cet élégant hôtel est considéré comme l'un des meilleurs hôtels 3 étoiles de Meknès, au Maroc.Le parcours de golf Royal Meknès est à 5,6 km et l'aéroport international de Fès-Sais est à une heure de route de l'hôtel.L'hôtel dispose d'une variété d'installations et de services que nous proposons, notamment la livraison de courses, les transferts aéroport, un centre de réunion et des forfaits spa et bien-être.";
      document.getElementById('im').src="../assets/images/hotel/meknes/swani.png";
    }
    if(a=="image4"){
      document.getElementById('title').innerHTML="Hôtel & Spa Belle Vogue";
      document.getElementById('desc').innerHTML="C'est l'un des meilleurs hôtels 3 étoiles de Meknès, à 1,9 km de la gare de Meknès, tandis que l'aéroport international de Fès-Sais est à 69,9 km. L'hôtel est situé dans une zone privilégiée avec de nombreuses activités à faire, telles que le VTT et la randonnée";
      document.getElementById('im').src="../assets/images/hotel/meknes/spa.jpg";
    }
    if(a=="image5"){
      document.getElementById('title').innerHTML="Hôtel Riad Ritaj";
      document.getElementById('desc').innerHTML="L'Hotel Ritaj est situé à Meknès, à 550 mètres du musée Dar Jamai, à 1,1 km du zoo El Houboul et à 74,8 km de l'aéroport international de Saiss. L'hôtel propose un hébergement confortable et une gamme d'activités sont disponibles sur place ou dans les environs de l'hôtel, y compris le terrain de golf.Cet hôtel est considéré comme l'un des meilleurs hôtels de Meknès en termes de design et de décorations attrayantes.";
      document.getElementById('im').src="../assets/images/hotel/meknes/ritag.jpg";
    }


     }
    </script>
  </body>
</html>
