<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <title>hotel tetouan</title>
  </head>

  <body>
    <!-- Header and Nav -->
    <header class="hotel_tetouan">
      <nav>
        <div class="main">
          <ul class="main-list">
            <li class="main-list-item"><a href="index.html">Accueil </a></li>
            <li class="main-list-item" ><a href="">Places Célèbres</a>
                <ul>
                  <li><a href="casa.html">Casablanca</a></li>
                  <li><a href="Kech.html">Marrakesh</a></li>
                  <li><a href="rabat.html">Rabat</a></li>
                  <li><a href="fes.html">Fès</a></li>
                  <li><a href="tanger.html">Tanger</a></li>
                  <li><a href="tetouan.html">Tetouan</a></li>
                  <li><a href="meknes.html">Meknes</a></li>
                  <li><a href="chefchaouen.html">Chefchaouen</a></li>
                  <li><a href="ifran.html">Ifrane</a></li>
                  <li><a href="agadir.html">Agadir</a></li>
                  <li><a href="hociema.html">AlHociema</a></li>
                  </ul></li>
            <li class="active main-list-item"><a href="">Hôtel</a>
              <ul>
                <li><a href="hotel-casablanca.html">Casablanca</a></li>
                <li><a href="hotel-marrakesh.html">Marrakesh</a></li>
                <li><a href="hotel-rabat.html">Rabat</a></li>
                <li><a href="hotel-fes.html">Fès</a></li>
                <li><a href="hotel-tangier.html">Tanger</a></li>
                <li><a href="hotel -tetouan.html">Tetouan</a></li>
                <li><a href="hotel -meknes.html">Meknes</a></li>
                <li><a href="hotel -chefchaoun.html">Chefchaouen</a></li>
                <li><a href="hotel -ifrane.html">Ifrane</a></li>
                <li><a href="hotel-agadir.html">Agadir</a></li>
                <li><a href="hotel-hociema.html">AlHociema</a></li>
                </ul></li>
                
                
          <li class="main-list-item"><a href="">Infos Pratiques</a>
                  <ul>
                    <li><a href="info_deplace.html">Se déplacer</a></li>
                    <li><a href="info_hebergement.html">Hébergement</a></li>
                    <li><a href="info_deguster.html">Déguster</a></li>
                    </ul></li>
  
                    <li class="main-list-item"><a href="">Chatbot</a>
                      <ul>
                        <li><a href="chatbot_app_anglais.html">English</a></li>
                        <li><a href="chatbot_app_francais.html">Français</a></li>
                        <li><a href="chatbot_app_arab.html">العربية</a></li>
                        </ul></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->
  
      <!-- Title heading -->
      <div class="title">
        <span class="heading">Hôtel à Tetouan</span>
      </div>
    </header>
    <!-- // Title heading -->

<!-- Start Portfolio -->
<div class=".container">
  <br>
  <br>
  
</div>      
<!-- Start Resume -->
<div class="resume">
<div class="container">
<p>
  Le lieu de résidence lors du voyage est l'une des préoccupations les plus importantes du visiteur, car certains préfèrent louer un appartement ou un complexe, tandis que d'autres préfèrent séjourner dans un hôtel où ils obtiennent une partie du confort qu'ils recherchent pendant leurs vacances.
  
  </p></div>
</div>
<br><br>
<!-- End Resume -->
     <!-- Start Portfolio -->
     <div class="portfolio">
      <div class="container">

            <div class="our-work">
                 <div><img src="../assets/images/hotel/tetouane/reducto.jpg" alt="image1" width="100" height="150" onmouseover="afficher(this)"></div>  
                 <div><img src="../assets/images/hotel/tetouane/prestige.jpg" alt="image2" width="100" height="150" onmouseover="afficher(this)"></div> 
                 <div><img src="../assets/images/hotel/tetouane/mandari.jpeg" alt="image3" width="100" height="150" onmouseover="afficher(this)"></div> 
                 <div><img src="../assets/images/hotel/tetouane/las mili.jpg" alt="image4" width="100" height="150" onmouseover="afficher(this)"></div>  
                 <div><img src="../assets/images/hotel/tetouane/dar achach.jpg" alt="image5"  width="100" height="150"onmouseover="afficher(this)"></div> 

              </div>
      </div>
    </div>

    <!-- End Portfolio -->


<br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/images/hotel/tetouane/reducto.jpg" alt="entre" width="640" height="443" class="xxx" id="im">    
</div>
<div class="info">
 <h1 id="title">Hôtel Reducto</h1>
 <br> <hr> <br>
    <br>
    <p id="desc">
      L'hôtel Redacto est l'un des meilleurs hôtels de Tétouan, car il dispose d'un ensemble de chambres et de suites au décor exquis qui mélange déco espagnole et marocaine, personnalisées pour tous les goûts.
      
      L'hôtel dispose de centres de soins corporels intégrés, d'instituts de beauté et d'un spa, et vous pouvez également essayer des séances de massage dans les lieux de massage équipés de l'hôtel.
      
      L'hôtel propose des chambres privées et des lieux pour le tournage de plusieurs films.La chambre présente une décoration espagnole, des détails marocains et une salle de bains privative individuelle.
      
      </p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>

 <!-- Footer -->
<footer>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h1 class="logo-text">
          <span class="logo-span">S</span>ujet 10
        </h1>
        <p class="footer-para">
          Les chatbots au service du tourisme numérique
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i>&nbsp; +212525343456</span>
          <span
            ><i class="fas fa-envelope"></i>&nbsp;
            startup_10@gmail.com</span
          >
        </div>
        <div class="socials">
          <a
            href="https://www.facebook.com"
            target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="https://www.linkedin.com"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://twitter.com" target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://github.com" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; Copyright Sujet 10. All Rights Reserved
    </div>
  </div>
</footer>
<!-- // Footer -->
    <script>
     function afficher(t){
     var a=t.alt;
    if(a=="image1"){
      document.getElementById('title').innerHTML="Hôtel Reducto";
      document.getElementById('desc').innerHTML="L'hôtel Redacto est l'un des meilleurs hôtels de Tétouan, car il dispose d'un ensemble de chambres et de suites au décor exquis qui mélange déco espagnole et marocaine, personnalisées pour tous les goûts.L'hôtel dispose de centres de soins corporels intégrés, d'instituts de beauté et d'un spa, et vous pouvez également essayer des séances de massage dans les lieux de massage équipés de l'hôtel. L'hôtel propose des chambres privées et des lieux pour le tournage de plusieurs films.La chambre présente une décoration espagnole, des détails marocains et une salle de bains privative individuelle.";
      document.getElementById('im').src="../assets/images/hotel/tetouane/reducto.jpg";
    }
    if(a=="image2"){
      document.getElementById('title').innerHTML="Hôtel Prestige Tetouan";
      document.getElementById('desc').innerHTML="Il est considéré comme l'un des meilleurs hôtels de Tétouan, au Maroc, qui offre les meilleurs services tels que la réception de l'hôtel, qui fonctionne 24 heures sur 24.Il propose une bagagerie et un bureau de change, et l'hôtel propose un service de navette moyennant des frais supplémentaires";
      document.getElementById('im').src="../assets/images/hotel/tetouane/prestige.jpg";
    }
    if(a=="image3"){
      document.getElementById('title').innerHTML="Hôtel Al Mandari";
      document.getElementById('desc').innerHTML="Situé à 6 km de l'aéroport de Sania Ramel, l'hôtel propose de nombreux services tels que des transferts aéroport, un service de conciergerie, la location de voitures et une connexion Wi-Fi gratuite dans les chambres.L'hôtel propose des chambres au design distinctif qui ont des balcons, et certaines d'entre elles ont une terrasse avec une vue magnifique sur les montagnes, c'est donc l'un des meilleurs hôtels de Tétouan";
      document.getElementById('im').src="../assets/images/hotel/tetouane/mandari.jpeg";
    }
    if(a=="image4"){
      document.getElementById('title').innerHTML="Riad Las Mili Yunachis";
      document.getElementById('desc').innerHTML="L'hôtel comprend un groupe d'unités merveilleusement décorées conçues pour convenir aux familles et des chambres spéciales pour la mariée, et c'est l'un des meilleurs hôtels de Tétouan, au Maroc.L'hôtel dispose également d'une terrasse bien exposée et d'un salon commun.Le Riad Las Mille Joachis propose un parking et une connexion Internet gratuits.La réception est disponible 24h/24 et le personnel parle de nombreuses langues telles que l'arabe, l'anglais, le français et l'espagnol.";
      document.getElementById('im').src="../assets/images/hotel/tetouane/las mili.jpg";
    }
    if(a=="image5"){
      document.getElementById('title').innerHTML="Hôtel Riad Dar Achache";
      document.getElementById('desc').innerHTML="L'hôtel dispose d'un jardin et d'une terrasse extérieure pour se détendre et bronzer.L'hôtel propose des chambres décorées au calme avec une vue magnifique sur le jardin. La chambre dispose également d'une salle de bains privative avec serviettes et douche, d'une télévision à écran plat, de chambres familiales et d'une suite privée pour la mariée.L'hôtel propose également des services supplémentaires tels que des places de parking gratuites et une connexion Wi-Fi gratuite.La réception est disponible 24h/24 et le personnel parle plusieurs langues telles que l'arabe, l'anglais, le français et l'italien";
      document.getElementById('im').src="../assets/images/hotel/tetouane/dar achach.jpg";
    }
  
     }
    </script>
  </body>
</html>
