<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <title>hotel casa</title>
  </head>

  <body>
    <!-- Header and Nav -->
    <header class="hotel_casa">
      <nav>
        <div class="main">
          <ul class="main-list">
            <li class="main-list-item"><a href="index.html">Accueil </a></li>
            <li class="main-list-item" ><a href="">Places Célèbres</a>
                <ul>
                  <li><a href="casa.html">Casablanca</a></li>
                  <li><a href="Kech.html">Marrakesh</a></li>
                  <li><a href="rabat.html">Rabat</a></li>
                  <li><a href="fes.html">Fès</a></li>
                  <li><a href="tanger.html">Tanger</a></li>
                  <li><a href="tetouan.html">Tetouan</a></li>
                  <li><a href="meknes.html">Meknes</a></li>
                  <li><a href="chefchaouen.html">Chefchaouen</a></li>
                  <li><a href="ifran.html">Ifrane</a></li>
                  <li><a href="agadir.html">Agadir</a></li>
                  <li><a href="hociema.html">AlHociema</a></li>
                  </ul></li>
            <li class="active main-list-item"><a href="">Hôtel</a>
              <ul>
                <li><a href="hotel-casablanca.html">Casablanca</a></li>
                <li><a href="hotel-marrakesh.html">Marrakesh</a></li>
                <li><a href="hotel-rabat.html">Rabat</a></li>
                <li><a href="hotel-fes.html">Fès</a></li>
                <li><a href="hotel-tangier.html">Tanger</a></li>
                <li><a href="hotel -tetouan.html">Tetouan</a></li>
                <li><a href="hotel -meknes.html">Meknes</a></li>
                <li><a href="hotel -chefchaoun.html">Chefchaouen</a></li>
                <li><a href="hotel -ifrane.html">Ifrane</a></li>
                <li><a href="hotel-agadir.html">Agadir</a></li>
                <li><a href="hotel-hociema.html">AlHociema</a></li>
                </ul></li>
                
                
          <li class="main-list-item"><a href="">Infos Pratiques</a>
                  <ul>
                    <li><a href="info_deplace.html">Se déplacer</a></li>
                    <li><a href="info_hebergement.html">Hébergement</a></li>
                    <li><a href="info_deguster.html">Déguster</a></li>
                    </ul></li>
  
                    <li class="main-list-item"><a href="">Chatbot</a>
                      <ul>
                        <li><a href="chatbot_app_anglais.html">English</a></li>
                        <li><a href="chatbot_app_francais.html">Français</a></li>
                        <li><a href="chatbot_app_arab.html">العربية</a></li>
                        </ul></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->
  
      <!-- Title heading -->
      <div class="title">
        <span class="heading">Hôtel à Casablanca</span>
      </div>
    </header>
    <!-- // Title heading -->

<!-- Start Portfolio -->
<div class=".container">
  <br>
  <br>
  
</div>      
<!-- Start Resume -->
<div class="resume">
<div class="container">
<p>Casablanca compte de nombreux hôtels haut de gamme au Maroc , et la plupart d'entre eux sont situés en centre-ville
</p></div>
</div>
<br>
<!-- End Resume -->
     <!-- Start Portfolio -->
     <div class="portfolio">
      <div class="container">

            <div class="our-work">
                 <div><img src="../assets/images/hotel/casa/sofitel_casa.jpeg" alt="image1" width="100" height="150" onmouseover="afficher(this)"></div>  
                 <div><img src="../assets/images/hotel/casa/kenzi.jpg" alt="image2" width="100" height="150" onmouseover="afficher(this)"></div> 
                 <div><img src="../assets/images/hotel/casa/hayat.jpeg" alt="image3" width="100" height="150" onmouseover="afficher(this)"></div> 
                 <div><img src="../assets/images/hotel/casa/forseason.jpg" alt="image4" width="100" height="150" onmouseover="afficher(this)"></div>  
                 <div><img src="../assets/images/hotel/casa/val d'anfa.jpg" alt="image5"  width="100" height="150"onmouseover="afficher(this)"></div> 

              </div>
      </div>
    </div>

    <!-- End Portfolio -->


<br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/images/hotel/casa/sofitel_casa.jpeg" alt="entre" width="640" height="443" class="xxx" id="im">    
</div>
<div class="info">
 <h1 id="title">Sofitel Casablanca Tour Blanche</h1>
 <br> <hr> <br>
    <br>
    <p id="desc">Cet hôtel est l'un des meilleurs hôtels de Casablanca, au Maroc, car il est situé près du centre-ville et à seulement quelques minutes de la vieille ville.

      Ainsi qu'à proximité de la Mosquée Hassan II et du port de Casablanca, et l'aéroport de Casablanca est à environ 35 km de cet hôtel.</p>
</div>
</div>
</div>
<!-- end 1 --> 

  
<br><br><br><br><br>
 <!-- Footer -->
<footer>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h1 class="logo-text">
          <span class="logo-span">S</span>ujet 10
        </h1>
        <p class="footer-para">
          Les chatbots au service du tourisme numérique
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i>&nbsp; +212525343456</span>
          <span
            ><i class="fas fa-envelope"></i>&nbsp;
            startup_10@gmail.com</span
          >
        </div>
        <div class="socials">
          <a
            href="https://www.facebook.com"
            target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="https://www.linkedin.com"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://twitter.com" target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://github.com" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; Copyright Sujet 10. All Rights Reserved
    </div>
  </div>
</footer>
<!-- // Footer -->
    <script>
     function afficher(t){
     var a=t.alt;
    if(a=="image1"){
      document.getElementById('title').innerHTML="Sofitel Casablanca Tour Blanche";
      document.getElementById('desc').innerHTML="et hôtel est l'un des meilleurs hôtels de Casablanca, au Maroc, car il est situé près du centre-ville et à seulement quelques minutes de la vieille ville. Ainsi qu'à proximité de la Mosquée Hassan II et du port de Casablanca, et l'aéroport de Casablanca est à environ 35 km de cet hôtel.";
      document.getElementById('im').src="../assets/images/hotel/casa/sofitel_casa.jpeg";
    }
    if(a=="image2"){
      document.getElementById('title').innerHTML="Hôtel Kenzi Tower";
      document.getElementById('desc').innerHTML="L'hôtel Kenzi Tower est l'un des meilleurs hôtels de Casablanca, au Maroc.Il est situé dans l'une des tours jumelles de Casablanca et offre une vue sur toute la ville, car il est proche du centre-ville et de la mosquée Hassan II.La gare Mers Sultan se trouve à quelques minutes de route et le port de Casablanca est à environ 10 minutes de l'hôtel.";
      document.getElementById('im').src="../assets/images/hotel/casa/kenzi.jpg";
    }
    if(a=="image3"){
      document.getElementById('title').innerHTML="Hyatt Regency Casablanca";
      document.getElementById('desc').innerHTML="L'hôtel Hyatt Regency est l'un des hôtels de luxe de Casablanca, caractérisé par son emplacement à proximité du centre-ville, où le port de Casablanca est à environ 900 mètres. La plage d'Ain Diab n'est qu'à quelques minutes en voiture et l'aéroport Mohammed V est à environ deux tiers d'heure en voiture.";
      document.getElementById('im').src="../assets/images/hotel/casa/hayat.jpeg";
    }
    if(a=="image4"){
      document.getElementById('title').innerHTML="Hôtel Four Seasons Casablanca";
      document.getElementById('desc').innerHTML="L'hôtel Four Seasons est l'un des meilleurs hôtels de Casablanca, au Maroc, car il est situé à côté d'Anfaplas, sur la corniche d'Ain Diab, à environ 1,5 km de l'hôtel. La mosquée Hassan II et le port de Casablanca sont à environ 3 km de l'hôtel, et l'aéroport international Mohammed V est à environ 26 km du Four Seasons Hotel.";
      document.getElementById('im').src="../assets/images/hotel/casa/forseason.jpg";
    }
    if(a=="image5"){
      document.getElementById('title').innerHTML="Hôtel Club Val d'Anfa";
      document.getElementById('desc').innerHTML="Cet hôtel est situé sur la corniche de Casablanca, où se trouvent restaurants, cafés, jardins pittoresques et le pouls de la vie.Il est considéré comme l'un des hôtels les plus célèbres de Casablanca, à quelques minutes de la plage.À proximité de l'hôtel, vous trouverez les principales zones commerciales, tandis que Morocco Mall, le plus grand centre commercial d'Afrique, se trouve à seulement 5 minutes en voiture de l'hôtel.";
      document.getElementById('im').src="../assets/images/hotel/casa/val d'anfa.jpg";
    }
     }

  
    </script>
  </body>
</html>
