<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <title>Places Célèbres à Ifrane</title>
  </head>

  <body>
    <!-- Header and Nav -->
    <header class="hotel_ifrane">
      <nav>
        <div class="main">
          <ul class="main-list">
            <li class="main-list-item"><a href="index.html">Accueil </a></li>
            <li class="active main-list-item"><a href="">Places Célèbres</a>
                <ul>
                  <li><a href="casa.html">Casablanca</a></li>
                  <li><a href="Kech.html">Marrakesh</a></li>
                  <li><a href="rabat.html">Rabat</a></li>
                  <li><a href="fes.html">Fès</a></li>
                  <li><a href="tanger.html">Tanger</a></li>
                  <li><a href="tetouan.html">Tetouan</a></li>
                  <li><a href="meknes.html">Meknes</a></li>
                  <li><a href="chefchaouen.html">Chefchaouen</a></li>
                  <li><a href="ifran.html">Ifrane</a></li>
                  <li><a href="agadir.html">Agadir</a></li>
                  <li><a href="hociema.html">AlHociema</a></li>
                  </ul></li>
            <li class="main-list-item"><a href="">Hôtel</a>
              <ul>
                <li><a href="hotel-casablanca.html">Casablanca</a></li>
                <li><a href="hotel-marrakesh.html">Marrakesh</a></li>
                <li><a href="hotel-rabat.html">Rabat</a></li>
                <li><a href="hotel-fes.html">Fès</a></li>
                <li><a href="hotel-tangier.html">Tanger</a></li>
                <li><a href="hotel -tetouan.html">Tetouan</a></li>
                <li><a href="hotel -meknes.html">Meknes</a></li>
                <li><a href="hotel -chefchaoun.html">Chefchaouen</a></li>
                <li><a href="hotel -ifrane.html">Ifrane</a></li>
                <li><a href="hotel-agadir.html">Agadir</a></li>
                <li><a href="hotel-hociema.html">AlHociema</a></li>
                </ul></li>
                
                
          <li class="main-list-item"><a href="">Infos Pratiques</a>
                  <ul>
                    <li><a href="info_deplace.html">Se déplacer</a></li>
                    <li><a href="info_hebergement.html">Hébergement</a></li>
                    <li><a href="info_deguster.html">Déguster</a></li>
                    </ul></li>

                    <li class="main-list-item"><a href="">Chatbot</a>
                      <ul>
                        <li><a href="chatbot_app_anglais.html">English</a></li>
                        <li><a href="chatbot_app_francais.html">Français</a></li>
                        <li><a href="chatbot_app_arab.html">العربية</a></li>
                        </ul></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->

      <!-- Title heading -->
      <div class="title">
        <span class="heading">Places Célèbres à Ifrane</span>
      </div>
    </header>
    <!-- // Title heading -->


<!-- Start Portfolio -->
<div class=".container">
  <br>
  <br>
  
</div>      
<!-- Start Resume -->
<div class="resume">
<div class="container">
<p>Ifrane, ou comme ils l'appellent la Suisse du Maroc, est l'une des attractions touristiques du Maroc, située entre les villes de Fès et Meknès avec une longue histoire, alors qu'elle est dominée par une belle nature qui apparaît dans ses parcs, forêts, cascades et montagnes enneigées, jetant une ombre sur ses maisons traditionnelles et ses hôtels de luxe.</p>

</div>
</div>

<!-- End Resume -->
<br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/dayat_awa.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Lac Daya Awa</h1>
 <br> <hr> <br>
    <p id="desc">C'est l'un des plus beaux sites touristiques d'Ifrane qui se trouve à 17 km, car il bénéficie d'une nature pittoresque et calme qui incite au divertissement, et c'est aussi une destination idéale pour des sorties en famille avec des enfants.
      En le visitant, vous pourrez pêcher, car le lac est célèbre pour ses vaches, faire une excursion en bateau en famille, nourrir les troupeaux de canards ou monter à cheval sur les rives du lac, en prenant les plus belles photos. </p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/ain_fital.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Ain Vital</h1>
   <br> <hr> <br>
      <p id="desc">C'est l'un des endroits à ne pas manquer lors de la planification du tourisme à Ifrane si vous recherchez une atmosphère à couper le souffle qui vous offre les plus hautes doses de loisirs et d'activités avec les aspects pittoresques de la nature, où l'eau jaillit fortement du haut de la falaise et s'écraser avec ses énormes rochers tout en profitant de la vue sur les forêts environnantes lors d'un safari itinérant sans précédent.
        Les cascades sont entourées d'une zone boisée, à 3 km du centre d'Ifrane, Maroc</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/centre_ifran.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>centre de la ville</h1>
 <br> <hr> <br>
    <p id="desc">L'un des lieux touristiques les plus importants d'Ifrane est celui d'entre nous qui fait du tourisme dans un lieu sans visiter son centre et son point principal.
      D'énormes fontaines sculptées, des maisons de style européen avec des toits pointus et des fenêtres en bois, des arbres illuminés la nuit, ainsi que des restaurants et des cafés parsemés dans toute la région, vous pourrez savourer une cuisine marocaine traditionnelle et un délicieux thé marocain pendant votre visite</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/sidre_gouro.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>La forêt de Seder Goro</h1>
   <br> <hr> <br>
      <p id="desc">La forêt de Seder Goro est l'un des plus beaux sites touristiques d'Ifrane pour ceux qui recherchent une atmosphère calme de loisirs et de détente loin de l'agitation de la ville, profitant d'une visite gratuite en plein air parmi les chemins forestiers avec de grandes zones de hauts arbres avec VTT.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/gouro.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>arbre Goro</h1>
 <br> <hr> <br>
    <p id="desc">L'une des attractions les plus excitantes que vous puissiez visiter lors d'un voyage à Ifrane, où le cèdre est classé comme le plus ancien du genre en Afrique, avec un âge d'environ 800 ans.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/lion_ifran.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>grande statue de lion</h1>
   <br> <hr> <br>
      <p id="desc">L'un des lieux touristiques les plus importants d'Ifrane, il attire l'attention des visiteurs de partout grâce à sa grande renommée, la précision et la beauté de ses sculptures et des histoires et légendes qui lui sont associées.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/hadiqa_ifran.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Parc national d'Ifrane</h1>
 <br> <hr> <br>
    <p id="desc">L'un des plus beaux endroits touristiques d'Ifrane apprécié des enfants, des familles et des passionnés de la faune, c'est le plus grand parc national d'Ifrane, au Maroc, qui comprend des milliers d'animaux et de plantes sauvages divers sur une superficie d'environ 500 km.
      Au cours de laquelle vous pourrez observer des animaux et des oiseaux dans leur environnement naturel, voir des espèces rares et menacées comme le macaque de Barbarie, profiter des parfums de fleurs et d'arbres qui s'étendent sur de vastes étendues avec la beauté des lacs, tout en l'appareil photo.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/souq_ifran.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>souk d'Ifrane</h1>
   <br> <hr> <br>
      <p id="desc">'est un marché local non touristique mais offre une excellente occasion de se mêler aux peuples autochtones et à leur culture et d'acheter les meilleurs souvenirs artisanaux tels que des textiles et des bijoux avec les épices marocaines les plus brillantes.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
  <!-- Start 1 --> 
  <div class="about-me">
  <div class="container">
  <div class="image">
      <img src="../assets/image/white_ifran.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Station de ski Michelin</h1>
   <br> <hr> <br>
      <p id="desc">C'est l'un des plus beaux endroits touristiques d'Ifrane, il jouit donc d'une grande popularité parmi les résidents locaux et les visiteurs étrangers pendant l'hiver, car la région, située à 17 km de la ville, a des pentes couvertes de neige chaque hiver qui vous invitent à pratiquer le ski, notamment grâce à la mise à disposition de matériel et de centres de formation</p>
  </div>
  </div>
  </div>
  <!-- end 1 --> 
<!-- End Portfolio -->
  
  <br><br><br>
 <!-- Footer -->
<footer>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h1 class="logo-text">
          <span class="logo-span">S</span>ujet 10
        </h1>
        <p class="footer-para">
          Les chatbots au service du tourisme numérique
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i>&nbsp; +212525343456</span>
          <span
            ><i class="fas fa-envelope"></i>&nbsp;
            startup_10@gmail.com</span
          >
        </div>
        <div class="socials">
          <a
            href="https://www.facebook.com"
            target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="https://www.linkedin.com"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://twitter.com" target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://github.com" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; Copyright Sujet 10. All Rights Reserved
    </div>
  </div>
</footer>
<!-- // Footer -->
  </body>
</html>
