<!DOCTYPE html>
<html lang="en">

<head>
  <link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
  crossorigin="anonymous"
/>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
  <title>Aceuill</title>

</head>

<body>
  <!-- Header and Nav -->
  <header class="index_h">
    <nav>
      <div class="main">
        <ul class="main-list">
          <li  class="active main-list-item"><a href="index.html">Accueil </a></li>
          <li class="main-list-item" ><a href="">Places Célèbres</a>
              <ul>
                <li><a href="casa.html">Casablanca</a></li>
                <li><a href="Kech.html">Marrakesh</a></li>
                <li><a href="rabat.html">Rabat</a></li>
                <li><a href="fes.html">Fès</a></li>
                <li><a href="tanger.html">Tanger</a></li>
                <li><a href="tetouan.html">Tetouan</a></li>
                <li><a href="meknes.html">Meknes</a></li>
                <li><a href="chefchaouen.html">Chefchaouen</a></li>
                <li><a href="ifran.html">Ifrane</a></li>
                <li><a href="agadir.html">Agadir</a></li>
                <li><a href="hociema.html">AlHociema</a></li>
                </ul></li>
          <li class="main-list-item"><a href="">Hôtel</a>
            <ul>
              <li><a href="hotel-casablanca.html">Casablanca</a></li>
              <li><a href="hotel-marrakesh.html">Marrakesh</a></li>
              <li><a href="hotel-rabat.html">Rabat</a></li>
              <li><a href="hotel-fes.html">Fès</a></li>
              <li><a href="hotel-tangier.html">Tanger</a></li>
              <li><a href="hotel -tetouan.html">Tetouan</a></li>
              <li><a href="hotel -meknes.html">Meknes</a></li>
              <li><a href="hotel -chefchaoun.html">Chefchaouen</a></li>
              <li><a href="hotel -ifrane.html">Ifrane</a></li>
              <li><a href="hotel-agadir.html">Agadir</a></li>
              <li><a href="hotel-hociema.html">AlHociema</a></li>
              </ul></li>
            
              
        <li class="main-list-item"><a href="">Infos Pratiques</a>
                <ul>
                  <li><a href="info_deplace.html">Se déplacer</a></li>
                  <li><a href="info_hebergement.html">Hébergement</a></li>
                  <li><a href="info_deguster.html">Déguster</a></li>
                  </ul></li>

                  <li class="main-list-item"><a href="">Chatbot</a>
                    <ul>
                      <li><a href="chatbot_app_anglais.html">English</a></li>
                      <li><a href="chatbot_app_francais.html">Français</a></li>
                      <li><a href="chatbot_app_arab.html">العربية</a></li>
                      </ul></li>
        </ul>
      </div>
    </nav>
    <!-- // Header and Nav -->


    <!-- Title heading -->
    <div class="title">
      <span class="heading">Bienvenue au Maroc</span>
    </div>
  </header >
  <!-- // Title heading -->

</div>      

<br><br><br>

<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="/assets/images/maroc.jpg" alt="entre" width="580" height="400" class="xxx">    
  </div>
  <div class="info">
   <h1>Le Maroc</h1>
   <br> <hr> <br>
      <p id="desc">Situé entre Atlantique et Méditerranée, dominé par la chaîne de l'Atlas qui culmine à plus de 4000 m et s'achevant au sud dans le désert, le Maroc est une terre où s'exposent à loisir les caprices de la nature, Couleurs, reliefs, climats, paysages multiples, mais aussi palette humaine ou artistique révélant des contrastes saisissants</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/images/plage-maroc.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Plages</h1>
 <br> <hr> <br>
    <p id="desc">Le Maroc est l’une des meilleures destinations pour trouver le soleil et échapper au quotidien. Avec ses côtes bordant l’Atlantique et la Méditerranée, le Maroc compte près d’une centaine de plages reliant le nord au sud du pays.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/images/montagne.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Une montagne à tout faire !</h1>
   <br> <hr> <br>
      <p id="desc">Le Maroc est un pays que parcourent les montagnes. Les trois Atlas et le Rif composent de merveilleux paysages escarpés mais aussi ils font d'authentiques terrains de jeux pour tous les amateurs d'aventure ! La découverte, les grands espaces, mais également le plein de sensations fortes : VTT, rafting, ski, accrobranche, VTT et même farniente !
<br>
        Voilà pour la montagne marocaine ! Des paysages somptueux, une nature vivifiante et, partout, de petits trésors à découvrir !</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/images/sahara.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Le désert Marocain</h1>
 <br> <hr> <br>
    <p id="desc">Ce n’est pas pour rien que le Maroc est aussi surnommé le pays des dunes : ses étendues désertiques sont propices à la formation de ces dunes de sable, rendant une partie du paysage marocain si atypique.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 1 --> 
<div class="about-me">
  <div class="container">
  <div class="image">
      <img src="../assets/images/tourisme.jpg" alt="entre" width="540" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Tourisme au Maroc</h1>
   <br> <hr> <br>
      <p id="desc">Carrefour de cultures, creuset de civilisations et portail vers l’Afrique, l’Europe et le Moyen-Orient, le Maroc a tant charmé les esprits par sa pluralité identitaire, sa diversité naturelle et son patrimoine historique dense. De la montagne au désert, de la Méditerranée à l’Atlantique et des plaines au littoral, le Maroc offre une diversité surprenante de paysages géographiques et de visages culturels.</p>
  </div>
  </div>
  </div>
  <!-- end 1 --> 
  
<br><br><br><br><br>

     <!-- Start Portfolio -->
     <div class="portfol">
      <div class="container">
          <h2>Les Villes les plus visités</h2>
          <p>Nous vous avons sélectionné les plus belles villes  pour réussir votre séjour, Venez les découvrir!</p>
            <div class="our-workhome">
                
                 <div><img src="../assets/images/Casablanca-back.jpg" height="240px" alt="test" class="foo"> <a href="casa.html"><p>Places Célèbres à Casablanca</p> </a><a href="hotel-casablanca.html"> <p>Hôtel à Casablanca</p></a></div> 
                 <div><img src="../assets/images/marrakesh.jpg" height="240px" alt="test" class="foo"><a href="Kech.html"><p>Places Célèbres à Marrakesh</p> </a><a href="hotel-marrakesh.html"> <p>Hôtel à Marrakesh</p></a></div> 
                 <div><img src="../assets/images/hociema.jpg" height="240px" alt="test" class="foo"><a href="hociema.html"><p>Places Célèbres à AlHociema</p> </a><a href="hotel-hociema.html"> <p>Hôtel à AlHociema</p></a></div> 
                 <div><img src="../assets/images/agadir.jpg" height="240px" alt="test" class="foo"> <a href="agadir.html"><p>Places Célèbres à Agadir</p> </a><a href="hotel-agadir.html"> <p>Hôtel à Agadir</p></a></div>  
                 <div><img src="../assets/images/fes.jpg" height="240px" alt="test" class="foo"><a href="fes.html"><p>Places Célèbres à Fès</p> </a><a href="hotel-fes.html"> <p>Hôtel à Fès</p></a></div> 
                 <div><img src="../assets/images/meknes.jpg" height="240px" alt="test" class="foo"><a href="meknes.html"><p>Places Célèbres à Meknes</p> </a><a href="hotel -meknes.html"> <p>Hôtel à Meknes</p></a></div>  
                 <div><img src="../assets/images/rabat.jpg" height="240px" alt="test" class="foo"><a href="rabat.html"><p>Places Célèbres à Rabat</p> </a><a href="hotel-rabat.html"> <p>Hôtel à Rabat</p></a></div>   
                 <div><img src="../assets/images/chaouen.jpg" height="240px" alt="test" class="foo"><a href="chefchaouen.html"><p>Places Célèbres à Chefchaouen</p> </a><a href="hotel -chefchaoun.html"> <p>Hôtel à Chefchaouen</p></a></div>  
                 <div><img src="../assets/images/ifrane.jpg" height="240px" alt="test" class="foo"><a href="ifran.html"><p>Places Célèbres à Ifrane</p> </a><a href="hotel -ifrane.html"> <p>Hôtel à Ifrane</p></a></div>  
                 <div><img src="../assets/images/tangier.jpg" height="240px" alt="test" class="foo"><a href="tanger.html"><p>Places Célèbres à Tanger</p> </a><a href="hotel-tangier.html"> <p>Hôtel à Tanger</p></a></div>   
                 <div><img src="../assets/images/tetouan.jpg" height="240px" alt="test" class="foo"><a href="tetouan.html"><p>Places Célèbres à Tetouan</p> </a><a href="hotel -tetouan.html"> <p>Hôtel à Tetouan</p></a></div>  
              </div>
      </div>
    </div>
                                                                                              
                
    <!-- End Portfolio -->
    <br><br><br><br>


      <!-- Start Portfolio -->
      <div class="portfol">
        <div class="container">
            <h2>Infos Pratiques</h2>
            <p>Nous vous avons proposé les moyens de transports disponibles, les formes d’hébergements et les meilleurs plats gastronomie au Maroc.</p>
              <div class="our-workhome">
                  
                   <div><img src="../assets/images/Morocco-Tram.jpg" height="240px" alt="test" class="foo"><a href="info_deplace.html"> <p>Se déplacer</p></a></div> 
                   <div><img src="../assets/images/hebergement.jpg" height="240px" alt="test" class="foo"><a href="info_hebergement.html"> <p>Hébergement</p></a></div> 
                   <div><img src="../assets/images/de.jpeg" height="240px" alt="test" class="foo"><a href="info_hebergement.html"> <p>Déguster</p></a></div> 
               
                </div>
        </div>
      </div>
                                                                                                
                  
      <!-- End Portfolio -->
      <br><br><br><br>
<!-- Footer -->
<footer>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h1 class="logo-text">
          <span class="logo-span">Amine Elachar & Abdallah EL MAAZOUZI</span>
        </h1>
        <p class="footer-para">
          Les chatbots au service du tourisme numérique
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i>&nbsp; +33667969541</span>
          <span
            ><i class="fas fa-envelope"></i>&nbsp;
            amine.abdallah@gmail.com</span
          >
        </div>
        <div class="socials">
          <a
            href="https://www.facebook.com"
            target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="https://www.linkedin.com"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://twitter.com" target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://github.com" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; Copyright All Rights Reserved
    </div>
  </div>
</footer>
<!-- // Footer -->



</body>

</html>