<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <title>info deguster</title>
  </head>

  <body>
    <!-- Header and Nav -->
    <header class="deguster">
      <nav>
        <div class="main">
          <ul class="main-list">
            <li class="main-list-item"><a href="index.html">Accueil </a></li>
            <li class="main-list-item" ><a href="">Places Célèbres</a>
                <ul>
                  <li><a href="casa.html">Casablanca</a></li>
                  <li><a href="Kech.html">Marrakesh</a></li>
                  <li><a href="rabat.html">Rabat</a></li>
                  <li><a href="fes.html">Fès</a></li>
                  <li><a href="tanger.html">Tanger</a></li>
                  <li><a href="tetouan.html">Tetouan</a></li>
                  <li><a href="meknes.html">Meknes</a></li>
                  <li><a href="chefchaouen.html">Chefchaouen</a></li>
                  <li><a href="ifran.html">Ifrane</a></li>
                  <li><a href="agadir.html">Agadir</a></li>
                  <li><a href="hociema.html">AlHociema</a></li>
                  </ul></li>
            <li class="main-list-item"><a href="">Hôtel</a>
              <ul>
                <li><a href="hotel-casablanca.html">Casablanca</a></li>
                <li><a href="hotel-marrakesh.html">Marrakesh</a></li>
                <li><a href="hotel-rabat.html">Rabat</a></li>
                <li><a href="hotel-fes.html">Fès</a></li>
                <li><a href="hotel-tangier.html">Tanger</a></li>
                <li><a href="hotel -tetouan.html">Tetouan</a></li>
                <li><a href="hotel -meknes.html">Meknes</a></li>
                <li><a href="hotel -chefchaoun.html">Chefchaouen</a></li>
                <li><a href="hotel -ifrane.html">Ifrane</a></li>
                <li><a href="hotel-agadir.html">Agadir</a></li>
                <li><a href="hotel-hociema.html">AlHociema</a></li>
                </ul></li>
                
                
          <li class="active main-list-item"><a href="">Infos Pratiques</a>
                  <ul>
                    <li><a href="info_deplace.html">Se déplacer</a></li>
                    <li><a href="info_hebergement.html">Hébergement</a></li>
                    <li><a href="info_deguster.html">Déguster</a></li>
                    </ul></li>
  
                    <li class="main-list-item"><a href="">Chatbot</a>
                      <ul>
                        <li><a href="chatbot_app_anglais.html">English</a></li>
                        <li><a href="chatbot_app_francais.html">Français</a></li>
                        <li><a href="chatbot_app_arab.html">العربية</a></li>
                        </ul></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->
  
      <!-- // Header and Nav -->

      <!-- Title heading -->
      <div class="title">
        <span class="heading">Déguster</span>
      </div>
    </header>
    <!-- // Title heading -->
]
  <!-- body -->
 
  <div class=".container">
    <br>
    <br>
    
  </div>      
<!-- Start Resume -->
<div class="resume">
<div class="container">
<p>Figurant en 2ème position dans le palmarès mondial de la gastronomie en 2017 par le blog britannique Worldsim Travel, le Maroc vous offre une escapade culinaire exceptionnelle. Marrakech, Fès, Agadir, ou encore Rabat, font partie des destinations culinaires les plus alléchantes. Plus de 15 restaurants marocains figurent parmi les 1000 meilleures tables au monde figurant au classement de « La Liste ». Thé à la menthe, Tajine, Couscous, ou Pastilla, voici les meilleures spécialités que vous pouvez déguster avec un goût de reviens-y.</p>
  
</div>
</div>

<!-- End Resume -->
<br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
 <div class="image">
      <img src="../assets/images/entrees_marocaines.jpg" alt="entre" width="580" height="443" class="xxx">    
 </div>
 <div class="info">
   <h1>Spécialités typiques</h1>
   <br> <hr> <br>
      <h2 id="title" >Entrées marocaines</h2>
      <br>
      <p id="desc">Généralement servies en début des repas, les entrées marocaines sont présentées comme accompagnement d’un plat principal. Elles diffèrent d’une région à une autre, mais se composent généralement d’une salade marocaine de légumes crus ou cuits, des Briouates farcies au poulet ou à la viande hachée, d’une ratatouille de poivrons et de tomates que nous appelons Tektouta et du fameux Zaâlouk qui est une purée d'aubergines. Elles peuvent être assaisonnées différemment, mais chaque recette apporte sa propre saveur et sa propre couleur.</p>
 </div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
  <table width="364" height="300" style="border:none ; text-align:center;" cellpadding="0" cellspacing="1">
    <tr>
       <td rowspan="2"><img src="../assets/images/Le-tajine1.jpg" alt="tajine" width="300" height="443"  onmouseover="afficher1(this)"  class="xxx"><h2 class="A" >Le tajine</h2></td>
       <td><img src="../assets/images/La-Harira.jpg" alt="harira" width="300" height="200"  onmouseover="afficher1(this)"  class="xxx" ><h2 class="B">La Harira</h2></td>
    </tr>
    <tr>
  
      <td><img src="../assets/images/Le-couscous.jpg" alt="couscous" width="300" height="200"  onmouseover="afficher1(this)"  class="xxx" ><h2 class="C">Le couscous</h2></td>
    </tr>
  </table> 
  </div>
  <div class="info">
  <h1>Plat principal</h1>
  <br> <hr> <br>
      <h2 id="title1">Le Tajine</h2>
      <br>
      <p id="desc1">C’est le plat le plus répandu au Maroc. D’un mode de cuisson très particulier, et aux versions multiples, ce plat n’en finit pas de ravir les goûts les plus exigeants. Les aliments comme le poisson, poulet, viande, légumes, et parfois noix, pruneaux et abricots, cuisent à l'étouffée avec un jeu indispensable d’épices pour le parfumer.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
<br><br><br><br>

<!-- Start 1 --> 
<div class="about-me">
<div class="container">
 <div class="image">
  <table width="364" height="300" style="border:none ; text-align:center;" cellpadding="0" cellspacing="1">
    <tr>
      <td rowspan="2"><img src="../assets/images/La-pastilla1.jpg" alt="pastilla" width="300" height="443"  onmouseover="afficher1(this)"  class="xxx"><h2 class="A" >La pastilla</h2></td>   
    </tr>
    <tr>
      <td rowspan="2"><img src="../assets/images/Le-mechoui1.jpg" alt="mechoui" width="300" height="443"  onmouseover="afficher1(this)"  class="xxx"><h2 class="A" >Le méchoui</h2></td>
    </tr>
 </table> 
 </div>
 <div class="info">
   <br> <hr> <br>
      <h2 id="title2" >Le méchoui</h2>
      <br>
      <p id="desc2">Ce plat hérité de la culture turque, est une façon de cuisiner traditionnellement l’agneau ou le bœuf qui sont souvent cuits à l’étouffée dans un four en argile.</p>
 </div>
</div>
</div>
<!-- end 1 --> 



<br><br>
<br><br>
<!-- Start 2 --> 
<div class="about-me2">
<div class="container">
<div class="image">
<table width="364" height="300" style="border:none ; text-align:center;" cellpadding="0" cellspacing="1">
  <tr>
     <td rowspan="2"><img src="../assets/images/rfissa1.jpg" alt="rfissa" width="300" height="443"  onmouseover="afficher1(this)"  class="xxx"><h2 class="A" >La R’fissa</h2></td>
     <td><img src="../assets/images/tanjia.jpg" alt="tanjia" width="300" height="200"  onmouseover="afficher1(this)"  class="xxx" ><h2 class="B">La Tanjia</h2></td>
  </tr>
  <tr>
 <td><img src="../assets/images/Le-pain.jpg" alt="pain" width="300" height="200"  onmouseover="afficher1(this)"  class="xxx" ><h2 class="C">Le pain</h2></td>
  </tr>
</table> 
</div>
<div class="info">

<br> <hr> <br>
    <h2 id="title3">La R’fissa</h2>
    <br>
    <p id="desc3">Egalement appelée « Trid », ce plat à base de crêpes feuilletées marocaines ou msemmens, à base de poulet accompagnée d'un bouillon d'oignons, coriandre, ras el hanout, lentilles et fenugrec. R'fissa est très riche en saveurs et en épices. Originaire de Casablanca, la R’fissa est une tradition culinaire des plus profondes.</p>
</div>
</div>
</div>
<!-- end 2 --> 

<br>
<br><br>
<br><br>
<!-- Start 3 --> 
<div class="about-me3">
<div class="container">
<div class="image">
<table width="364" height="300" style="border:none ; text-align:center;" cellpadding="0" cellspacing="1">
  <tr>
     <td rowspan="2"><img src="../assets/images/ghriba1.jpg" alt="ghriba" width="300" height="443"  onmouseover="afficher1(this)"  class="xxx"><h2 class="A" >Ghriba</h2></td>
     <td><img src="../assets/images/chbakya.jpg" alt="chbakya" width="300" height="200"  onmouseover="afficher1(this)"  class="xxx"><h2 class="B">Chebakia</h2></td>
  </tr>
  <tr>

    <td><img src="../assets/images/cornes-de-gazelle.jpg" alt="cornes" width="300" height="200"  onmouseover="afficher1(this)"  class="xxx"><h2 class="C">Cornes de gazelle</h2></td>
  </tr>
</table> 
</div>
<div class="info">
<h1>Pâtisserie</h1>
<br> <hr> <br>
 <h2 id="title4">Ghriba</h2>
    <br>
    <p id="desc4">Ces gâteaux arrivent aussi en tête de la pâtisserie issue de la cuisine maghrébine et orientale. En ville, vous en trouverez dans les pâtisseries, mais aussi dans les petites échoppes des médinas. Faites à base d’amandes et de semoule, elles sont souvent saupoudrées de graines de sésame pour plus de saveur.</p>
</div>
</div>
</div>
<!-- end 3 --> 
<br>
<br><br>
<br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
  <table width="364" height="300" style="border:none ; text-align:center;" cellpadding="0" cellspacing="1">
    <tr>
       <td rowspan="2"><img src="../assets/images/Sodas-et-jus-de-fruits2.jpg" alt="jus" width="300" height="443"  onmouseover="afficher1(this)"  class="xxx"><h2 class="A" >Jus de fruits</h2></td>
       <td><img src="../assets/images/The-a-la-menthe.jpg" alt="the" width="300" height="200"  onmouseover="afficher1(this)"  class="xxx" ><h2 class="B">Thé à la menthe</h2></td>
    </tr>
    <tr>
  
      <td><img src="../assets/images/Delices_laitiers.jpeg" alt="delice" width="300" height="200"  onmouseover="afficher1(this)"  class="xxx" ><h2 class="C">Délices laitiers</h2></td>
    </tr>
  </table> 
  </div>
  <div class="info">
  <h1>Boissons et dessert </h1>
  <br> <hr> <br>
      <h2 id="title5">Jus de fruits</h2>
      <br>
      <p id="desc5">De nombreux échoppes vous proposent des jus de fruits frais que vous pouvez composer à votre goût ! A Marrakech, la place Jemaa-El-Fena, à elle seule, abrite plus d’une vingtaines de vendeurs de jus de fruits, d’eau et de sodas organisés en calèches.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br><br><br>
  <!-- Footer -->
  <footer>
    <div class="footer">
      <div class="footer-content">
        <div class="footer-section about">
          <h1 class="logo-text">
            <span class="logo-span">Amine Elachar & Abdallah EL MAAZOUZI</span>
          </h1>
          <p class="footer-para">
            Les chatbots au service du tourisme numérique
          </p>
          <div class="contact">
            <span><i class="fas fa-phone"></i>&nbsp; +33667969541</span>
            <span
              ><i class="fas fa-envelope"></i>&nbsp;
              amine.abdallah@gmail.com</span
            >
          </div>
          <div class="socials">
            <a
              href="https://www.facebook.com"
              target="_blank"
              ><i class="fab fa-facebook"></i
            ></a>
            <a
              href="https://www.linkedin.com"
              target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a href="https://twitter.com" target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
            <a href="https://github.com" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        &copy; Copyright All Rights Reserved
      </div>
    </div>
  </footer>
<!-- // Footer -->
<script>
    function afficher1(t){
      var a =t.alt;

    if(a=="tajine"){
      document.getElementById("title1").innerHTML="Le Tajine";
      document.getElementById("desc1").innerHTML="C’est le plat le plus répandu au Maroc. D’un mode de cuisson très particulier, et aux versions multiples, ce plat n’en finit pas de ravir les goûts les plus exigeants. Les aliments comme le poisson, poulet, viande, légumes, et parfois noix, pruneaux et abricots, cuisent à l'étouffée avec un jeu indispensable d’épices pour le parfumer.";
    }
    if(a=="harira"){
      document.getElementById("title1").innerHTML="La Harira";
      document.getElementById("desc1").innerHTML="Une soupe typiquement marocaine connue pour sa formule réconfortante et nutritive. Servie dans la plupart des restaurants, et plus particulièrement au mois du Ramadan pour rompre le jeune, elle est composée d’un subtil mélange entre les légumes secs, tomates, pâtes et farine.";
    } 
    if(a=="couscous"){
      document.getElementById("title1").innerHTML="Le Couscous";
      document.getElementById("desc1").innerHTML="D’origine berbère, le couscous est le produit emblématique du Maroc ! Présent dans tous les foyers et restaurants, c’est un plat convivial que l’on mange traditionnellement tous les vendredis. Préparé de différentes façons, végétarien, autour de la viande, poisson ou poulet, et même sucré, il est souvent accompagné d’un bouillon de légumes « marqa » pour rehausser ses saveurs.";
    }
    if(a=="pastilla"){
      document.getElementById("title2").innerHTML="La pastilla";
      document.getElementById("desc2").innerHTML="Servie sous forme de feuilleté, la pastilla au poisson, au pigeon ou poulet et/ou amende est un totem de la cuisine marocaine. Ce plat aux milles et un délice, agréablement subtil en bouche, est fait pour les amateurs du salé-sucré.";   
  }
  if(a=="mechoui"){
      document.getElementById("title2").innerHTML="Le méchoui";
      document.getElementById("desc2").innerHTML="Ce plat hérité de la culture turque, est une façon de cuisiner traditionnellement l’agneau ou le bœuf qui sont souvent cuits à l’étouffée dans un four en argile.";
    }
    if(a=="rfissa"){
      document.getElementById("title3").innerHTML="La R’fissa";
      document.getElementById("desc3").innerHTML="Egalement appelée « Trid », ce plat à base de crêpes feuilletées marocaines ou msemmens, à base de poulet accompagnée d'un bouillon d'oignons, coriandre, ras el hanout, lentilles et fenugrec. R'fissa est très riche en saveurs et en épices. Originaire de Casablanca, la R’fissa est une tradition culinaire des plus profondes.";
    }
    if(a=="tanjia"){
      document.getElementById("title3").innerHTML="La Tanjia";
      document.getElementById("desc3").innerHTML="Traditionnellement préparée avec de la viande c'agneau ou de veau dans un bocal en terre cuite, la Tanjia est le plat typique de Marrakech. De longues heures sont nécessaires pour sa cuisson, qui se fait généralement dans le four du quartier. La viande, si tendre et savoureuse, ravit les plus friands des saveurs.";
    }
    if(a=="pain"){
      document.getElementById("title3").innerHTML="Le pain";
      document.getElementById("desc3").innerHTML="Le pain est le principal aliment de base du Maroc, qui est généralement servi en accompagnement de tous les plats principaux traditionnels. Pain blanc, pain complet ou également du  pain au levain, il y en a pour tous les goûts.";   
  }
  if(a=="ghriba"){
      document.getElementById("title4").innerHTML="Ghriba";
      document.getElementById("desc4").innerHTML="Ces gâteaux arrivent aussi en tête de la pâtisserie issue de la cuisine maghrébine et orientale. En ville, vous en trouverez dans les pâtisseries, mais aussi dans les petites échoppes des médinas. Faites à base d’amandes et de semoule, elles sont souvent saupoudrées de graines de sésame pour plus de saveur.";
    }
    if(a=="chbakya"){
      document.getElementById("title4").innerHTML="Chebakia";
      document.getElementById("desc4").innerHTML="Deuxième délice emblématique du Maroc, la Chebakia est le gâteau le plus demandé et le plus consommé dans le pays. Servi avec de la soupe marocaine ou comme accompagnement du thé, c’est le délice phare du mois sacré du Ramadan.";
    }
    if(a=="cornes"){
      document.getElementById("title4").innerHTML="Cornes de gazelle";
      document.getElementById("desc4").innerHTML="Au Maroc, on ne peut pas parler de pâtisserie sans évoquer les fameux gâteaux ”les cornes de gazelle”. Pour les curieux, elles sont composées d’amandes écrasées qu’on enrobe dans une pâte fine au parfum de fleur d’oranger. Elles accompagnent parfaitement le thé vert à la menthe";
    }
    if(a=="jus"){
      document.getElementById("title5").innerHTML="Jus de fruits";
      document.getElementById("desc5").innerHTML="De nombreux échoppes vous proposent des jus de fruits frais que vous pouvez composer à votre goût ! A Marrakech, la place Jemaa-El-Fena, à elle seule, abrite plus d’une vingtaines de vendeurs de jus de fruits, d’eau et de sodas organisés en calèches.";   
  }
  if(a=="the"){
      document.getElementById("title5").innerHTML="Thé à la menthe";
      document.getElementById("desc5").innerHTML="Thé à la menthe Quintessence même de l’hospitalité marocaine, le thé vert à la menthe est un breuvage cérémonial ancré dans les traditions marocaines. En ville comme en campagne, il est servi dans un petit verre coloré, en le versant traditionnellement d’un mètre de haut. Le thé à la menthe permet souvent de souhaiter la bienvenue aux hôtes, dans un cadre convivial.";
    }
    if(a=="delice"){
      document.getElementById("title5").innerHTML="Délices laitiers";
      document.getElementById("desc5").innerHTML="Au Maroc, vous partez dans un réel voyage culinaire pimenté par des saveurs et des odeurs exquises ! Dans toutes les régions, on vous servira du Lben (lait fermenté) pour accompagner votre couscous et du Raïb (yaourt marocain traditionnel) pour vous délecter les papilles. Au nord du Maroc, c’est le fromage de chèvre qui est à l’honneur. Quant au Sahara, le fromage de chamelle représente un vrai régal !";
    }
  }
</script>
  </body>
</html>
