<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <title>info hebergement</title>
  </head>

  <body>
    <!-- Header and Nav -->
    <header class="hebergement">
      <nav>
        <div class="main">
          <ul class="main-list">
            <li class="main-list-item"><a href="index.html">Accueil </a></li>
            <li class="main-list-item" ><a href="">Places Célèbres</a>
                <ul>
                  <li><a href="casa.html">Casablanca</a></li>
                  <li><a href="Kech.html">Marrakesh</a></li>
                  <li><a href="rabat.html">Rabat</a></li>
                  <li><a href="fes.html">Fès</a></li>
                  <li><a href="tanger.html">Tanger</a></li>
                  <li><a href="tetouan.html">Tetouan</a></li>
                  <li><a href="meknes.html">Meknes</a></li>
                  <li><a href="chefchaouen.html">Chefchaouen</a></li>
                  <li><a href="ifran.html">Ifrane</a></li>
                  <li><a href="agadir.html">Agadir</a></li>
                  <li><a href="hociema.html">AlHociema</a></li>
                  </ul></li>
            <li class="main-list-item"><a href="">Hôtel</a>
              <ul>
                <li><a href="hotel-casablanca.html">Casablanca</a></li>
                <li><a href="hotel-marrakesh.html">Marrakesh</a></li>
                <li><a href="hotel-rabat.html">Rabat</a></li>
                <li><a href="hotel-fes.html">Fès</a></li>
                <li><a href="hotel-tangier.html">Tanger</a></li>
                <li><a href="hotel -tetouan.html">Tetouan</a></li>
                <li><a href="hotel -meknes.html">Meknes</a></li>
                <li><a href="hotel -chefchaoun.html">Chefchaouen</a></li>
                <li><a href="hotel -ifrane.html">Ifrane</a></li>
                <li><a href="hotel-agadir.html">Agadir</a></li>
                <li><a href="hotel-hociema.html">AlHociema</a></li>
                </ul></li>
                
                
          <li class="active main-list-item"><a href="">Infos Pratiques</a>
                  <ul>
                    <li><a href="info_deplace.html">Se déplacer</a></li>
                    <li><a href="info_hebergement.html">Hébergement</a></li>
                    <li><a href="info_deguster.html">Déguster</a></li>
                    </ul></li>
  
                    <li class="main-list-item"><a href="">Chatbot</a>
                      <ul>
                        <li><a href="chatbot_app_anglais.html">English</a></li>
                        <li><a href="chatbot_app_francais.html">Français</a></li>
                        <li><a href="chatbot_app_arab.html">العربية</a></li>
                        </ul></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->
  

      <!-- Title heading -->
      <div class="title">
        <span class="heading">Hébergement</span>
      </div>
    </header>
    <!-- // Title heading -->


    <div class=".container">
      <br>
      <br>
      

  </div>      
<!-- Start Resume -->
<div class="resume">
<div class="container">
  <p>A votre arrivée au Maroc, une pléthore de formes d’hébergements s’offrent à vous : du camping en pleine nature, à l’hôtel de luxe étoilé typiquement marocains. Hospitalité, bien-être, et traditions, tout y est pour passer un séjour idéal au pays du soleil !</p>
    <br>
    <p>Ensemble, ces établissements touristiques : hôtels, riads, maisons d’hôtes, gites, camping, et résidences immobilières, totalisent près de 251 2016 lits à fin 2017. Le ministère du tourisme au Maroc y accorde une importance particulière, puisqu’il s’agit d’un élément déterminant dans le choix d’une destination touristique.</p>
</div>
</div>

<!-- End Resume -->

<br><br><br>

<!-- Start 2 --> 
<div class="about-me3">
<div class="container">
  <div class="image">
  <table width="364" height="300" style="border:none ; text-align:center;" cellpadding="0" cellspacing="1">
    <tr>
       <td rowspan="2"><img src="../assets/images/maison-dhotes.jpg" alt="maison" width="300" height="443"  onmouseover="afficher1(this)"  class="xxx"><h2 class="A" >Les maisons d’hôtes</h2></td>
       <td><img src="../assets/images/hotel_rest.jpg" alt="hotel" width="300" height="200"  onmouseover="afficher1(this)"  class="xxx" ><h2 class="B">Les hôtels & Resorts</h2></td>
    </tr>
    <tr>

      <td><img src="../assets/images/riad.jpg" alt="riad" width="300" height="200"  onmouseover="afficher1(this)"  class="xxx" ><h2 class="C">Les Riads</h2></td>
    </tr>
 </table> 
</div>
 <div class="info">
  <h1>Pour un séjour de confort et de luxe, choisissez Les maisons d’hôtes, les Riads et les hôtels & Resorts !</h1>
  <br> <hr> <br>
      <h2 id="title3">Les maisons d’hôtes</h2>
      <br>
      <p id="desc3">Dans les médinas ou en plein nature, vous vivrez une expérience de bien-être et une ambiance inégalée dans les maisons d’hôtes. En logeant chez les hôtes, vous plongerez dans la culture et les traditions marocaines. Dans un cadre purement traditionnel, le confort et la convivialité seront maîtres.</p>
 </div>
</div>
</div>
<!-- end 2 --> 

<br>
<br><br>
<br><br>
<!-- Start 3 --> 
<div class="about-me2">
<div class="container">
 <div class="image">
  <table width="364" height="300" style="border:none ; text-align:center;" cellpadding="0" cellspacing="1">
    <tr>
       <td rowspan="2"><img src="../assets/images/auberge.jpg" alt="auberge" width="300" height="443"  onmouseover="afficher1(this)"  class="xxx"><h2 class="A" >Les auberges et les gîtes</h2></td>
       <td><img src="../assets/images/campings.jpg" alt="camping" width="300" height="200"  onmouseover="afficher1(this)"  class="xxx"><h2 class="B">Les campings</h2></td>
    </tr>
    <tr>

      <td><img src="../assets/images/bivouac.jpg" alt="bivouac" width="300" height="200"  onmouseover="afficher1(this)"  class="xxx"><h2 class="C">Les bivouacs</h2></td>
    </tr>
 </table> 
 </div>
 <div class="info">
  <h1>Pour une découverte et une reconnexion à la nature, optez pour les auberges, les gîtes, les campings et les bivouacs de luxe!</h1>
  <br> <hr> <br>
   <h2 id="title2">Les auberges et les gîtes</h2>
      <br>
      <p id="desc2">Ces demeures aussi confortables qu’élégantes, vous invitent à une hospitalité marocaine des plus conviviales. Séjourner dans les gîtes ou dans les auberges, c’est découvrir l’art de vivre marocain, tout en étant en contact avec les habitants locaux. En plein nature dans les grandes villes du Maroc, les gîtes et les auberges sont aussi luxueux que conviviaux, des excellents types d’hébergements pour mieux connaître les habitants locaux.</p>
 </div>
</div>
</div>
<!-- end 3 --> 

  <br><br><br><br><br>

   <!-- Footer -->
<footer>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h1 class="logo-text">
          <span class="logo-span">S</span>ujet 10
        </h1>
        <p class="footer-para">
          Les chatbots au service du tourisme numérique
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i>&nbsp; +212525343456</span>
          <span
            ><i class="fas fa-envelope"></i>&nbsp;
            startup_10@gmail.com</span
          >
        </div>
        <div class="socials">
          <a
            href="https://www.facebook.com"
            target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="https://www.linkedin.com"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://twitter.com" target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://github.com" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; Copyright Sujet 10. All Rights Reserved
    </div>
  </div>
</footer>
<!-- // Footer -->

    <script>
      function afficher1(t){
        var a =t.alt;

      if(a=="maison"){
        document.getElementById("title3").innerHTML="Les maisons d’hôtes";
        document.getElementById("desc3").innerHTML="Dans les médinas ou en plein nature, vous vivrez une expérience de bien-être et une ambiance inégalée dans les maisons d’hôtes. En logeant chez les hôtes, vous plongerez dans la culture et les traditions marocaines. Dans un cadre purement traditionnel, le confort et la convivialité seront maîtres.";
      }
      if(a=="hotel"){
        document.getElementById("title3").innerHTML="Les hôtels & Resorts de luxe";
        document.getElementById("desc3").innerHTML="Au cours des dernières années, des établissements hôteliers, dont des chaînes hôtelières de renommée mondiale se sont multipliées dans les principaux villes du Royaume. A titre d’exemple et selon le classement du plus grand magazine de voyage de luxe et de style de vie « Conde Nast Traveler », la Mamounia, fût sacré meilleur hôtel du monde et d’Afrique en 2018, puis le 2ème meilleur Hôtel en Afrique après Le Royal Mansour qui a eu la première position par le même magazine dans sa catégorie 'Readers' Choice Award Winners 2019.";
      } 
      if(a=="riad"){
        document.getElementById("title3").innerHTML="Les Riads";
        document.getElementById("desc3").innerHTML="Le Riad, quintessence même des habitations traditionnelles marocaines, vous donne une dimension immersive dans l’art de vivre marocain et ses traditions culturelles les plus profondes.<br> Confort, luxe, bien-être et service de qualité. Voilà ce que vous pouvez attendre d'un séjour dans l'un des Riads marocains !";
      }
      if(a=="auberge"){
        document.getElementById("title2").innerHTML="Les auberges et les gîtes";
        document.getElementById("desc2").innerHTML="Ces demeures aussi confortables qu’élégantes, vous invitent à une hospitalité marocaine des plus conviviales. Séjourner dans les gîtes ou dans les auberges, c’est découvrir l’art de vivre marocain, tout en étant en contact avec les habitants locaux. En plein nature dans les grandes villes du Maroc, les gîtes et les auberges sont aussi luxueux que conviviaux, des excellents types d’hébergements pour mieux connaître les habitants locaux.";   
    }
    if(a=="camping"){
        document.getElementById("title2").innerHTML="Les campings";
        document.getElementById("desc2").innerHTML="Si vous souhaitez quitter l’effervescence urbaine pour séjourner au rythme de la nature en quasi autarcie, les campings sont faits pour vous ! Près de 90 campings sont aménagés dans l’ensemble du territoire marocain. Du camping luxueux en plein désert, au camping sportif dans les belles plages sauvages et tranquilles, clairières et sous-bois.";
      }
      if(a=="bivouac"){
        document.getElementById("title2").innerHTML="Les bivouacs";
        document.getElementById("desc2").innerHTML="Pour un dépaysement total, pour une reconnexion à la nature et pour une pause de bien-être et de détente, pensez aux bivouacs de luxe pour expérience authentique. Très présents dans le désert du Maroc, ils vous proposent une expérience d’immersion totale dans les paysages désertiques hors des sentiers battus. Nuits à la belle étoile,ambiance et bien être vous seront garantis!";
      }
    }
    </script>
  </body>
</html>
