<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    
    <title>info deplace</title>
  </head>

  <body>
    <!-- Header and Nav -->
    <header class="deplace">
      <nav>
        <div class="main">
          <ul class="main-list">
            <li class="main-list-item"><a href="index.html">Accueil </a></li>
            <li class="main-list-item" ><a href="">Places Célèbres</a>
                <ul>
                  <li><a href="casa.html">Casablanca</a></li>
                  <li><a href="Kech.html">Marrakesh</a></li>
                  <li><a href="rabat.html">Rabat</a></li>
                  <li><a href="fes.html">Fès</a></li>
                  <li><a href="tanger.html">Tanger</a></li>
                  <li><a href="tetouan.html">Tetouan</a></li>
                  <li><a href="meknes.html">Meknes</a></li>
                  <li><a href="chefchaouen.html">Chefchaouen</a></li>
                  <li><a href="ifran.html">Ifrane</a></li>
                  <li><a href="agadir.html">Agadir</a></li>
                  <li><a href="hociema.html">AlHociema</a></li>
                  </ul></li>
            <li class="main-list-item"><a href="">Hôtel</a>
              <ul>
                <li><a href="hotel-casablanca.html">Casablanca</a></li>
                <li><a href="hotel-marrakesh.html">Marrakesh</a></li>
                <li><a href="hotel-rabat.html">Rabat</a></li>
                <li><a href="hotel-fes.html">Fès</a></li>
                <li><a href="hotel-tangier.html">Tanger</a></li>
                <li><a href="hotel -tetouan.html">Tetouan</a></li>
                <li><a href="hotel -meknes.html">Meknes</a></li>
                <li><a href="hotel -chefchaoun.html">Chefchaouen</a></li>
                <li><a href="hotel -ifrane.html">Ifrane</a></li>
                <li><a href="hotel-agadir.html">Agadir</a></li>
                <li><a href="hotel-hociema.html">AlHociema</a></li>
                </ul></li>
                
                
          <li class="active main-list-item"><a href="">Infos Pratiques</a>
                  <ul>
                    <li><a href="info_deplace.html">Se déplacer</a></li>
                    <li><a href="info_hebergement.html">Hébergement</a></li>
                    <li><a href="info_deguster.html">Déguster</a></li>
                    </ul></li>
  
                    <li class="main-list-item"><a href="">Chatbot</a>
                      <ul>
                        <li><a href="chatbot_app_anglais.html">English</a></li>
                        <li><a href="chatbot_app_francais.html">Français</a></li>
                        <li><a href="chatbot_app_arab.html">العربية</a></li>
                        </ul></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->
  
      <!-- Title heading -->
      <div class="title">
        <span class="heading">Se déplacer</span>
      </div>
    </header>
    <!-- // Title heading -->

  <!-- body -->
 
      <div class=".container">
        <br>
        <br>
        
      </div>      
 <!-- Start Resume -->
 <div class="resume">
  <div class="container">
    <p>Selon la destination de votre séjour au Maroc, les moyens de transports disponibles varient d'une ville à l'autre. Prendre un taxi, un bus, le train, 
      ou enfourcher un vélo ? Apprenez à circuler plus facilement, pour voir tous les merveilles que vous réserve le Royaume du Maroc !</p>
      <br>
      <p>A la sortie des aéroports, vous avez le choix entre des bus « navette », des taxis ou des agences de locations de voitures !</p>
  </div>
</div>

<!-- End Resume -->

<br><br><br>

 <!-- Start 1 --> 
   <div class="about-me">
    <div class="container">
     <div class="image">
      <table width="364" height="300" style="border:none ; text-align:center;" cellpadding="0" cellspacing="1">
        <tr>
           <td><img src="../assets/images/tgv.jpg" alt="tgv" width="300" height="200" onmouseover="afficher1(this)" class="xxx"><h2 class="A" >TGV</h2></td>
           <td><img src="../assets/images/train.jpg" alt="train" width="300" height="200" onmouseover="afficher1(this)"  class="xxx"><h2 class="B">Train</h2></td>   
        </tr>
        <tr>
          <td><img src="../assets/images/autocar_0.jpg" alt="autocar" width="300" height="200" onmouseover="afficher1(this)"  class="xxx"><h2 class="C">Autocar</h2></td>
          <td><img src="../assets/images/voiture-de-location.jpg" alt="location" width="300" height="200" onmouseover="afficher1(this)"  class="xxx"><h2 class="D">Voitures de location</h2></td>
        </tr>
     </table> 
     </div>
     <div class="info">
       <h1>Voyager sur tout le territoire</h1>
       <br> <hr> <br>
          <h2 id="title1" >Train à Grande Vitesse</h2>
          <br>
          <p id="desc1">En plus de pouvoir se déplacer en train conventionnel, il est possible d’emprunter le Train à Grande Vitesse (TGV) qui dessert actuellement 4 gares : Tanger, Kénitra, Rabat et Casablanca. Vous pouvez ainsi faire le trajet Tanger-Casablanca en 2h10, Rabat-Tanger en 1h20 et Kénitra-Tanger en 50 minutes seulement. Vous pouvez <a href="https://www.oncf.ma/fr/Al-boraq" style="color: crimson; text-decoration: none;">acheter votre billet</a> sur place ou sur le site internet de l'ONCF. </p>
     </div>
    </div>
   </div>
   <!-- end 1 --> 

 

<br><br>
<br><br>
 <!-- Start 2 --> 
 <div class="about-me2">
  <div class="container">
    <div class="image">
    <table width="364" height="300" style="border:none ; text-align:center;" cellpadding="0" cellspacing="1">
      <tr>
         <td rowspan="2"><img src="../assets/images/tramway1.jpg" alt="tram" width="300" height="443"  onmouseover="afficher1(this)"  class="xxx"><h2 class="A" >Tramway</h2></td>
         <td><img src="../assets/images/taxi.jpg" alt="taxi" width="300" height="200"  onmouseover="afficher1(this)"  class="xxx" ><h2 class="B">Taxi</h2></td>
      </tr>
      <tr>
  
        <td><img src="../assets/images/bus.jpg" alt="bus" width="300" height="200"  onmouseover="afficher1(this)"  class="xxx" ><h2 class="C">Bus Touristique</h2></td>
      </tr>
   </table> 
  </div>
   <div class="info">
    <h1>Circuler en ville</h1>
    <br> <hr> <br>
        <h2 id="title2">Tramway</h2>
        <br>
        <p id="desc2">Intra-muros, le tramway est le moyen privilégié pour se déplacer dans les villes de Rabat, Salé et Casablanca. Deux lignes de tramway sont mises en service pour relier la ville de Salé à la ville de Rabat. Quant à Casablanca, deux lignes existent et deux autres lignes seront mises en circulation très prochainement.</p>
   </div>
  </div>
 </div>
 <!-- end 2 --> 

 <br>
 <br><br>
 <br><br>
 <!-- Start 3 --> 
 <div class="about-me3">
  <div class="container">
   <div class="image">
    <table width="364" height="300" style="border:none ; text-align:center;" cellpadding="0" cellspacing="1">
      <tr>
         <td rowspan="2"><img src="../assets/images/balade-en-caleche_0.jpg" alt="balade" width="300" height="443"  onmouseover="afficher1(this)"  class="xxx"><h2 class="A" >Balade en calèche</h2></td>
         <td><img src="../assets/images/velos.jpg" alt="velo" width="300" height="200"  onmouseover="afficher1(this)"  class="xxx"><h2 class="B">Vélos de location</h2></td>
      </tr>
      <tr>
  
        <td><img src="../assets/images/velos-taxis_0.jpg" alt="velotaxi" width="300" height="200"  onmouseover="afficher1(this)"  class="xxx"><h2 class="C">Vélos-taxis</h2></td>
      </tr>
   </table> 
   </div>
   <div class="info">
    <h1>Se balader librement dans la ville</h1>
    <br> <hr> <br>
     <h2 id="title3">Balade en calèche</h2>
        <br>
        <p id="desc3">Pour les petites promenades, la balade en calèche vous fait expérimenter le dédale de ses ruelles qui serpentent au cœur des villes. C’est le seul moyen de se promener dans les médinas et les souks plus librement. Vous pouvez même marcher à pieds pour faire le tour de la médina. C’est aussi une occasion pour vous imprégner de l’atmosphère propre à chaque ville.</p>
   </div>
  </div>
 </div>
 <!-- end 3 --> 

    <br><br><br><br><br>

<!-- Footer -->
<footer>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h1 class="logo-text">
          <span class="logo-span">S</span>ujet 10
        </h1>
        <p class="footer-para">
          Les chatbots au service du tourisme numérique
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i>&nbsp; +212525343456</span>
          <span
            ><i class="fas fa-envelope"></i>&nbsp;
            startup_10@gmail.com</span
          >
        </div>
        <div class="socials">
          <a
            href="https://www.facebook.com"
            target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="https://www.linkedin.com"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://twitter.com" target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://github.com" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; Copyright Sujet 10. All Rights Reserved
    </div>
  </div>
</footer>
<!-- // Footer -->
    <script>
      function afficher1(t){
        var a =t.alt
        if(a=="tgv"){
        document.getElementById("title1").innerHTML="Train à Grande Vitesse";
        document.getElementById("desc1").innerHTML="Train à Grande Vitesse En plus de pouvoir se déplacer en train conventionnel, il est possible d’emprunter le Train à Grande Vitesse (TGV) qui dessert actuellement 4 gares : Tanger, Kénitra, Rabat et Casablanca. Vous pouvez ainsi faire le trajet Tanger-Casablanca en 2h10, Rabat-Tanger en 1h20 et Kénitra-Tanger en 50 minutes seulement. Vous pouvez <a href='https://www.oncf.ma/fr/Al-boraq' style='color: crimson; text-decoration: none;'>acheter votre billet</a> sur place ou sur le site internet de l'ONCF.<a href='https://www.oncf.ma/fr/Al-boraq' style='color: crimson; text-decoration: none;'></a>";
      }
      if(a=="train"){
        document.getElementById("title1").innerHTML="Train";
        document.getElementById("desc1").innerHTML="Etant le deuxième réseau ferroviaire d’Afrique, le réseau de l'Office National des Chemins de Fer (ONCF) couvre la plus grande partie du Maroc. L’ONCF relie Marrakech à Oujda et dessert les grandes villes du Royaume, à l’exception de ceux d’Agadir et de Nador amis aussi plusieurs petites villes. Vous pouvez réserver votre voyage même à l’avance en achetant votre ticket en ligne sur le <a href='https://www.oncf.ma/fr/' style='color: crimson; text-decoration: none;'>site internet de l’ONCF</a>";
      }  
      if(a=="location"){
        document.getElementById("title1").innerHTML="Voitures de location";
        document.getElementById("desc1").innerHTML="Louer une voiture peut aussi s’avérer une belle alternative pour profiter au maximum de votre séjour, en circulant librement et à votre rythme. Vous pouvez réserver votre voiture avant même votre départ au Maroc sur les plateformes des différentes agences de location tout en choisissant la voiture la plus adaptée à votre parcours et la durée de location.";
      }
      if(a=="autocar"){
        document.getElementById("title1").innerHTML="Autocar";
        document.getElementById("desc1").innerHTML="Si vous avez choisi de voyager en autocar, de nombreuses compagnies privées vous offrent tout le confort nécessaire pour rendre votre trajet agréable. Les différents autocars assurent le transport de la gare jusqu’au village le plus isolé. Vous avez là aussi la possibilité de connaitre les horaires, les tarifs et d’acheter vos billets en ligne.";
      } 
      if(a=="tram"){
        document.getElementById("title2").innerHTML="Tramway";
        document.getElementById("desc2").innerHTML="Intra-muros, le tramway est le moyen privilégié pour se déplacer dans les villes de Rabat, Salé et Casablanca. Deux lignes de tramway sont mises en service pour relier la ville de Salé à la ville de Rabat. Quant à Casablanca, deux lignes existent et deux autres lignes seront mises en circulation très prochainement.";
      } 
      if(a=="taxi"){
        document.getElementById("title2").innerHTML="Taxi";
        document.getElementById("desc2").innerHTML="Le petit taxi est le moyen de transport le plus utilisé au Maroc. Il roule qu’à l’intérieur de la ville et est identifiable par sa couleur selon la ville dans laquelle vous vous trouvez. Le rouge pour Casablanca et Agadir, Bleu à Rabat, Tanger et Asilah, et orange à Marrakech. Si vous revenez d’une soirée très tard, où vous avez un vol très tôt le matin à ne pas rater, vous pouvez réserver un « taxi à la demande » ou « taxi vert » sur la majorité des villes principales";
      }  
      if(a=="bus"){
        document.getElementById("title2").innerHTML="Bus et train touristique";
        document.getElementById("desc2").innerHTML=" Le bus touristique découverte, est également un moyen de se déplacer à l’intérieur des villes de Marrakech et Tanger, pour découvrir les différents lieux d’intérêts de plus près. Vous avez la possibilité d'acheter en lign votre ticket <a href='https://tanger.city-tour.com/fr' style='color: crimson; text-decoration: none;'>City Tour Tanger</a> et <a href='https://marrakech.city-tour.com/fr' style='color: crimson; text-decoration: none;'> City Tour Marrakech</a>. Dans les villes d’Agadir et d’Ifrane, un autre moyen de transport touristique est également disponible : le petit train touristique. Il vous permet de faire d'agréables balades pour découvrir la beauté des deux villes.";
      } 
      if(a=="balade"){
        document.getElementById("title3").innerHTML="Balade en calèche";
        document.getElementById("desc3").innerHTML="Pour les petites promenades, la balade en calèche vous fait expérimenter le dédale de ses ruelles qui serpentent au cœur des villes. C’est le seul moyen de se promener dans les médinas et les souks plus librement. Vous pouvez même marcher à pieds pour faire le tour de la médina. C’est aussi une occasion pour vous imprégner de l’atmosphère propre à chaque ville.";
      }  
      if(a=="velo"){
        document.getElementById("title3").innerHTML="Vélos et motos de location";
        document.getElementById("desc3").innerHTML="Sur place à Marrakech, vous pouvez également louer un vélo, un scooter ou une moto si vous voulez vadrouiller dans la ville plus librement. Medina Bike Marrakech met à votre disposition une dizaine de parkings éparpillés dans la ville disponibles 24h/24, 7j/7 pour faire sa découverte en deux roues.";
      }  
      if(a=="velotaxi"){
        document.getElementById("title3").innerHTML="Vélos-taxis";
        document.getElementById("desc3").innerHTML="Les vélos-taxis sont aussi une excellente nouvelle alternative pour rouler écolo. Présents uniquement à Rabat, ces vélos tricycles circulent même dans les ruelles des médinas et vous font visiter les plus bels endroits comme la côte ou encore la Marina de la magnifique vallée de Bouregreg.";
      }     
    }
     
    </script>
  </body>

</html>
