<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <title>Places Célèbres à Marrakesh</title>
  </head>

  <body>
    <!-- Header and Nav -->
    <header class="hotel_kesh">
      <nav>
        <div class="main">
          <ul class="main-list">
            <li class="main-list-item"><a href="index.html">Accueil </a></li>
            <li class="active main-list-item"><a href="">Places Célèbres</a>
                <ul>
                  <li><a href="casa.html">Casablanca</a></li>
                  <li><a href="Kech.html">Marrakesh</a></li>
                  <li><a href="rabat.html">Rabat</a></li>
                  <li><a href="fes.html">Fès</a></li>
                  <li><a href="tanger.html">Tanger</a></li>
                  <li><a href="tetouan.html">Tetouan</a></li>
                  <li><a href="meknes.html">Meknes</a></li>
                  <li><a href="chefchaouen.html">Chefchaouen</a></li>
                  <li><a href="ifran.html">Ifrane</a></li>
                  <li><a href="agadir.html">Agadir</a></li>
                  <li><a href="hociema.html">AlHociema</a></li>
                  </ul></li>
            <li class="main-list-item"><a href="">Hôtel</a>
              <ul>
                <li><a href="hotel-casablanca.html">Casablanca</a></li>
                <li><a href="hotel-marrakesh.html">Marrakesh</a></li>
                <li><a href="hotel-rabat.html">Rabat</a></li>
                <li><a href="hotel-fes.html">Fès</a></li>
                <li><a href="hotel-tangier.html">Tanger</a></li>
                <li><a href="hotel -tetouan.html">Tetouan</a></li>
                <li><a href="hotel -meknes.html">Meknes</a></li>
                <li><a href="hotel -chefchaoun.html">Chefchaouen</a></li>
                <li><a href="hotel -ifrane.html">Ifrane</a></li>
                <li><a href="hotel-agadir.html">Agadir</a></li>
                <li><a href="hotel-hociema.html">AlHociema</a></li>
                </ul></li>
                
                
          <li class="main-list-item"><a href="">Infos Pratiques</a>
                  <ul>
                    <li><a href="info_deplace.html">Se déplacer</a></li>
                    <li><a href="info_hebergement.html">Hébergement</a></li>
                    <li><a href="info_deguster.html">Déguster</a></li>
                    </ul></li>

                    <li class="main-list-item"><a href="">Chatbot</a>
                      <ul>
                        <li><a href="chatbot_app_anglais.html">English</a></li>
                        <li><a href="chatbot_app_francais.html">Français</a></li>
                        <li><a href="chatbot_app_arab.html">العربية</a></li>
                        </ul></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->

      <!-- Title heading -->
      <div class="title">
        <span class="heading">Places Célèbres à Marrakesh</span>
      </div>
    </header>
    <!-- // Title heading -->

<!-- Start Portfolio -->
<div class=".container">
  <br>
  <br>
  
</div>      
<!-- Start Resume -->
<div class="resume">
<div class="container">
<p>Le tourisme à Marrakech, la capitale de l'empire andalou, est l'une des villes touristiques les plus importantes du Maroc, car elle se caractérise par sa beauté charmante et sa nature pittoresque, dans laquelle il y a harmonie et mélange entre la beauté du présent et la splendeur du passé.
  Parmi le tourisme à Marrakech se trouvent de nombreux murs historiques, des bâtiments et des jardins géants au design raffiné.A cette époque, Marrakech, le Maroc est considéré comme un bastion de la civilisation islamique et un centre intellectuel pour la science et la philosophie.
  Il comprend de nombreux musées et monuments qui attirent de nombreux touristes, en plus de nombreux sites touristiques merveilleux qui donnent un autre goût aux vacances au milieu d'une atmosphère marocaine.Il possède également de nombreux restaurants, cafés, marchés et activités de loisirs.</p>

</div>
</div>

<!-- End Resume -->
<br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/jamaa_elfnaa.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>jemaa el fnaa</h1>
 <br> <hr> <br>
    <p id="desc">La place Fna est le principal débouché populaire pour les habitants et les touristes à Marrakech, au Maroc. C'est le cœur battant de la ville, où se rassemblent de nombreux kiosques, dompteurs de serpents, conteurs et casse-tête, ainsi que des musiciens.
      La place Fna est située à l'entrée de la ville de Marrakech et attire des milliers de visiteurs du monde entier pour découvrir le riche patrimoine de la ville et s'asseoir dans l'un des cafés environnants ou manger un authentique repas marocain dans les restaurants situés là.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/alkoutobiya.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>marrakech museum</h1>
   <br> <hr> <br>
      <p id="desc">L'un des sites touristiques les plus importants de Marrakech, au Maroc, et l'un des musées distinctifs de la ville, car il comprend une collection unique d'expositions combinant art contemporain, céramique, textiles, inscriptions coraniques, pièces de monnaie, poterie et autres.
        Le musée de Marrakech est accessible en passant par les ruelles tortueuses de la célèbre place Jamaâ El Fna à Marrakech.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <!-- Start 1 --> 
<div class="about-me">
  <div class="container">
  <div class="image">
      <img src="../assets/image/majorelle.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>jardin majorelle </h1>
   <br> <hr> <br>
      <p id="desc">Le Jardin Majorelle est l'un des jardins les plus beaux et les plus attrayants pour les touristes à Marrakech, au Maroc. C'est un jardin tropical, distinctif dans sa conception et son mélange de couleurs et de nature verdoyante. Les jardins comprennent une variété de plantes, dont certaines rares, collectées sur les cinq continents, notamment des cactus, des palmiers et des fougères.
        Les jardins portent le nom de l'artiste français Jacques Majorelle, qui les a conçus.L'origine de cette conception remonte à la ville française de Nancy. Les jardins sont aujourd'hui considérés comme l'un des plus beaux lieux touristiques de Marrakech</p>
  </div>
  </div>
  </div>
  <!-- end 1 --> 
  <br><br><br><br><br>
  <!-- Start 2 --> 
  <div class="about-me2">
    <div class="container">
    <div class="image">
        <img src="../assets/image/aswa9_lmadina_tijariya.jpg" alt="entre" width="580" height="443" class="xxx">    
    </div>
    <div class="info">
     <h1>Marchés commerciaux de la ville </h1>
     <br> <hr> <br>
        <p id="desc">Les marchés commerciaux de la vieille ville sont l'un des lieux touristiques les plus importants de Marrakech et la destination shopping la plus célèbre de la ville, où la vieille ville se caractérise par ses ruelles étroites et ses maisons colorées.
          Le quartier propose de nombreuses boutiques vendant des souvenirs distinctifs tels que des chaussures, des parfums, des antiquités en cuivre, etc. Il existe également un marché dédié au cuir, où de nombreuses anciennes tanneries sont situées dans la région.</p>
    </div>
    </div>
    </div>
    <!-- end 2 --> 
<!-- End Portfolio -->
   <!-- Start 1 --> 
<div class="about-me">
  <div class="container">
  <div class="image">
      <img src="../assets/image/ecole_benyoussef.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Ben Youssef Madrasa</h1>
   <br> <hr> <br>
      <p id="desc">L'école Ali Ben Youssef est l'un des meilleurs lieux de tourisme de Marrakech. Elle est considérée comme un chef-d'œuvre architectural historique. Elle a été fondée en 1346 après JC et a abrité de grands savants et écrivains qui enseignaient les sciences religieuses, la jurisprudence et d'autres sciences. est considérée comme l'une des écoles historiques les plus célèbres du Maroc.
        Aujourd'hui, l'école est l'un des lieux touristiques les plus importants de Marrakech, elle attire les touristes comme un chef-d'œuvre archéologique qui reflète la prospérité de la civilisation marocaine.</p>
  </div>
  </div>
  </div>
  <!-- end 1 --> 
  <br><br><br><br><br>
  <!-- Start 2 --> 
  <div class="about-me2">
    <div class="container">
    <div class="image">
        <img src="../assets/image/Qasr_elbahia.jpg" alt="entre" width="580" height="443" class="xxx">    
    </div>
    <div class="info">
     <h1>palais de la bahia</h1>
     <br> <hr> <br>
        <p id="desc">L'histoire de ce palais remonte à l'époque de l'État alaouia et est l'un des lieux touristiques les plus importants de Marrakech, au Maroc, qui attire des touristes du monde entier pour découvrir la splendeur de l'architecture marocaine qui apparaît dans les suites royales. du palais, des salles, des jardins et des bassins d'eau.</p>
    </div>
    </div>
    </div>
    <!-- end 2 -->  
    <br><br><br><br><br>
       <!-- Start 1 --> 
<div class="about-me">
  <div class="container">
  <div class="image">
      <img src="../assets/image/Elqouba_mourabitiya.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Koubba almoravide</h1>
   <br> <hr> <br>
      <p id="desc">Le Koubba almoravide est le plus ancien monument de Marrakech, datant de 1064. Il a été construit sous le règne d'Ali bin Youssef comme maison d'ablution pour les fidèles de la mosquée Ben Youssef. Le dôme reflète l'art de l'architecture almoravide à travers sa construction solide qui n'a pas été affectée par les fluctuations du temps, en plus du système d'alimentation en eau, qui est unique en ce sens que l'eau le traverse du sous-sol pour se déverser dans des tuyaux en bronze.</p>
  </div>
  </div>
  </div>
  <!-- end 1 --> 
  <br><br><br><br><br>
  <!-- Start 2 --> 
  <div class="about-me2">
    <div class="container">
    <div class="image">
        <img src="../assets/image/menara.jpg" alt="entre" width="580" height="443" class="xxx">    
    </div>
    <div class="info">
     <h1>jardins de la ménara </h1>
     <br> <hr> <br>
        <p id="desc">L'un des plus beaux lieux touristiques de Marrakech, les jardins de la ménara, est situé à environ 3 km à l'extérieur des murs de la ville et est un débouché idéal pour les résidents locaux pour  obtenir un peu de paix. Les jardins de la ménara  ont été créés à l'époque almouahidine à la fin du XIXe siècle. Au milieu des jardins se trouve le grand réservoir du ménara, qui est une grande piscine remplie d'eau, de deux mètres de profondeur et de 510 mètres de circonférence</p>
    </div>
    </div>
    </div>
    <!-- end 2 -->  
  <br><br><br>
         <!-- Start 1 --> 
<div class="about-me">
  <div class="container">
  <div class="image">
      <img src="../assets/image/sour_kech.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>mur de marrakech</h1>
   <br> <hr> <br>
      <p id="desc">Ce mur est considéré comme l'un des lieux touristiques les plus importants de Marrakech.Sa construction remonte à l'an 1126 après JC et a été construit dans le but de protéger la ville des ennemis. La terre battue a été utilisée pour construire le mur, qui existe encore aujourd'hui, sans être affecté par les fluctuations du temps. Le mur de Marrakech est un chef-d'œuvre architectural unique qui s'étend sur une longueur de 9 km</p>
  </div>
  </div>
  </div>
  <!-- end 1 --> 
  <br><br><br><br><br>
   <!-- Footer -->
<footer>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h1 class="logo-text">
          <span class="logo-span">S</span>ujet 10
        </h1>
        <p class="footer-para">
          Les chatbots au service du tourisme numérique
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i>&nbsp; +212525343456</span>
          <span
            ><i class="fas fa-envelope"></i>&nbsp;
            startup_10@gmail.com</span
          >
        </div>
        <div class="socials">
          <a
            href="https://www.facebook.com"
            target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="https://www.linkedin.com"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://twitter.com" target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://github.com" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; Copyright Sujet 10. All Rights Reserved
    </div>
  </div>
</footer>
<!-- // Footer -->
  </body>
</html>
