<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <title>Places Célèbres à Meknes</title>
  </head>

  <body>
    <!-- Header and Nav -->
    <header class="hotel_meknes">
      <nav>
        <div class="main">
          <ul class="main-list">
            <li class="main-list-item"><a href="index.html">Accueil </a></li>
            <li class="active main-list-item"><a href="">Places Célèbres</a>
                <ul>
                  <li><a href="casa.html">Casablanca</a></li>
                  <li><a href="Kech.html">Marrakesh</a></li>
                  <li><a href="rabat.html">Rabat</a></li>
                  <li><a href="fes.html">Fès</a></li>
                  <li><a href="tanger.html">Tanger</a></li>
                  <li><a href="tetouan.html">Tetouan</a></li>
                  <li><a href="meknes.html">Meknes</a></li>
                  <li><a href="chefchaouen.html">Chefchaouen</a></li>
                  <li><a href="ifran.html">Ifrane</a></li>
                  <li><a href="agadir.html">Agadir</a></li>
                  <li><a href="hociema.html">AlHociema</a></li>
                  </ul></li>
            <li class="main-list-item"><a href="">Hôtel</a>
              <ul>
                <li><a href="hotel-casablanca.html">Casablanca</a></li>
                <li><a href="hotel-marrakesh.html">Marrakesh</a></li>
                <li><a href="hotel-rabat.html">Rabat</a></li>
                <li><a href="hotel-fes.html">Fès</a></li>
                <li><a href="hotel-tangier.html">Tanger</a></li>
                <li><a href="hotel -tetouan.html">Tetouan</a></li>
                <li><a href="hotel -meknes.html">Meknes</a></li>
                <li><a href="hotel -chefchaoun.html">Chefchaouen</a></li>
                <li><a href="hotel -ifrane.html">Ifrane</a></li>
                <li><a href="hotel-agadir.html">Agadir</a></li>
                <li><a href="hotel-hociema.html">AlHociema</a></li>
                </ul></li>
                
                
          <li class="main-list-item"><a href="">Infos Pratiques</a>
                  <ul>
                    <li><a href="info_deplace.html">Se déplacer</a></li>
                    <li><a href="info_hebergement.html">Hébergement</a></li>
                    <li><a href="info_deguster.html">Déguster</a></li>
                    </ul></li>

                    <li class="main-list-item"><a href="">Chatbot</a>
                      <ul>
                        <li><a href="chatbot_app_anglais.html">English</a></li>
                        <li><a href="chatbot_app_francais.html">Français</a></li>
                        <li><a href="chatbot_app_arab.html">العربية</a></li>
                        </ul></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->

      <!-- Title heading -->
      <div class="title">
        <span class="heading">Places Célèbres à Meknes</span>
      </div>
    </header>
    <!-- // Title heading -->

<!-- Start Portfolio -->
<div class=".container">
  <br>
  <br>
  
</div>      
<!-- Start Resume -->
<div class="resume">
<div class="container">
<p>Le tourisme à Meknès, l'une des villes touristiques les plus importantes du Maroc, construite par Moulay Ismail, se caractérise par la diversité de son relief, qui comprend des plaines, des vallées, des montagnes et autres. De nombreux touristes du monde entier viennent à Meknès pour voir ses sites archéologiques, tels que le palais El Hedim, la porte Bab El Mansour, le mausolée Moulay Ismail, etc.
  La ville de Meknès a une longue histoire qui raconte ses murs, ses tours et ses lieux historiques qui ont conservé sa gloire et ses monuments. Elle est considérée à juste titre comme la ville de la civilisation arabo-islamique et de l'histoire fascinante.</p>

</div>
</div>

<!-- End Resume -->
<br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/bab_masour.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Bab Mansour</h1>
 <br> <hr> <br>
    <p id="desc">Bab al-Mansour est considérée comme l'une des attractions touristiques les plus importantes de Meknès. C'est une immense porte qui surplombe la place El Hedim, à l'est de la vieille ville de Meknès. C'est aussi la plus grande des portes de la Kasbah. Elle a d'abord été établie par Moulay Ismail et complété par son fils Moulay Abdullah en 1732 après JC.
      Ce qui distingue cette porte est l'énormité de ses détails, car la hauteur de l'ouverture est d'environ 8 mètres, et elle est remplie de décorations gravées sur des mosaïques et des céramiques colorées.Bab al-Mansour est proche de plusieurs lieux touristiques de Meknès, dont le Mausolée de Moulay Ismail et de la médersa Bouanania.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/moulay-ismaail.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Mausolée de Moulay Ismail</h1>
   <br> <hr> <br>
      <p id="desc">L'un des lieux touristiques les plus importants de Meknès, car il comprend les restes du fondateur de la ville de Meknès, Moulay Ismail, ainsi que deux autres rois.Le tombeau de Moulay Ismail est situé près de Bab Mansour, qui est l'un des les plus grandes et les plus belles portes historiques.
        Le sanctuaire comprend de magnifiques fontaines conçues d'une manière géométrique unique, en plus d'un cadran solaire. Près du sanctuaire, il y a un vieux marché où des souvenirs sont exposés</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/bouaananiya_mekenss.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Madrasa Bou Inania</h1>
 <br> <hr> <br>
    <p id="desc">La Bouanania Madrasa est une école historique fondée par le sultan mérinide Abu Al-Hassan, puis complétée par son fils Abu Inan Faris en 1345 pour y enseigner diverses sciences.La Bouanania Madrasa se distingue par ses colonnes et ses portes ornées de magnifiques décorations qui comprennent des inscriptions et des écrits sur bois et gypse.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/mathaf_dar_ljamiaai.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Musée Dar Jamaï</h1>
   <br> <hr> <br>
      <p id="desc">Le musée Dar Al Jamai est un palais historique datant du XIXe siècle et a été transformé en musée en 1920 après JC, dans lequel de nombreux objets d'art et objets en bois sculptés et teints sont exposés, en plus des meubles de maison traditionnels, des vêtements en soie précieux, etc. Le musée contient également une aile conçue dans le style andalou.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
  <!-- Start 1 --> 
  <div class="about-me">
  <div class="container">
  <div class="image">
      <img src="../assets/image/walili.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Volubilis</h1>
   <br> <hr> <br>
      <p id="desc">L'un des lieux touristiques les plus importants de Meknès, qui est une ville archéologique datant du IIIe siècle avant JC et située à 30 km à l'ouest de la ville de Meknès. La ville comprend deux bâtiments principaux, le bâtiment principal et le temple romain. Il possède de nombreuses mosaïques archéologiques.</p>
  </div>
  </div>
  </div>
  <!-- end 1 --> 
<!-- End Portfolio -->
  
  <br><br><br>
<!-- Footer -->
<footer>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h1 class="logo-text">
          <span class="logo-span">S</span>ujet 10
        </h1>
        <p class="footer-para">
          Les chatbots au service du tourisme numérique
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i>&nbsp; +212525343456</span>
          <span
            ><i class="fas fa-envelope"></i>&nbsp;
            startup_10@gmail.com</span
          >
        </div>
        <div class="socials">
          <a
            href="https://www.facebook.com"
            target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="https://www.linkedin.com"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://twitter.com" target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://github.com" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; Copyright Sujet 10. All Rights Reserved
    </div>
  </div>
</footer>
<!-- // Footer -->
  </body>
</html>
