<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <title>Places Célèbres à Rabat</title>
  </head>

  <body>
    <!-- Header and Nav -->
    <header class="hotel_rabat">
      <nav>
        <div class="main">
          <ul class="main-list">
            <li class="main-list-item"><a href="index.html">Accueil </a></li>
            <li class="active main-list-item"><a href="">Places Célèbres</a>
                <ul>
                  <li><a href="casa.html">Casablanca</a></li>
                  <li><a href="Kech.html">Marrakesh</a></li>
                  <li><a href="rabat.html">Rabat</a></li>
                  <li><a href="fes.html">Fès</a></li>
                  <li><a href="tanger.html">Tanger</a></li>
                  <li><a href="tetouan.html">Tetouan</a></li>
                  <li><a href="meknes.html">Meknes</a></li>
                  <li><a href="chefchaouen.html">Chefchaouen</a></li>
                  <li><a href="ifran.html">Ifrane</a></li>
                  <li><a href="agadir.html">Agadir</a></li>
                  <li><a href="hociema.html">AlHociema</a></li>
                  </ul></li>
            <li class="main-list-item"><a href="">Hôtel</a>
              <ul>
                <li><a href="hotel-casablanca.html">Casablanca</a></li>
                <li><a href="hotel-marrakesh.html">Marrakesh</a></li>
                <li><a href="hotel-rabat.html">Rabat</a></li>
                <li><a href="hotel-fes.html">Fès</a></li>
                <li><a href="hotel-tangier.html">Tanger</a></li>
                <li><a href="hotel -tetouan.html">Tetouan</a></li>
                <li><a href="hotel -meknes.html">Meknes</a></li>
                <li><a href="hotel -chefchaoun.html">Chefchaouen</a></li>
                <li><a href="hotel -ifrane.html">Ifrane</a></li>
                <li><a href="hotel-agadir.html">Agadir</a></li>
                <li><a href="hotel-hociema.html">AlHociema</a></li>
                </ul></li>
                
                
          <li class="main-list-item"><a href="">Infos Pratiques</a>
                  <ul>
                    <li><a href="info_deplace.html">Se déplacer</a></li>
                    <li><a href="info_hebergement.html">Hébergement</a></li>
                    <li><a href="info_deguster.html">Déguster</a></li>
                    </ul></li>

                    <li class="main-list-item"><a href="">Chatbot</a>
                      <ul>
                        <li><a href="chatbot_app_anglais.html">English</a></li>
                        <li><a href="chatbot_app_francais.html">Français</a></li>
                        <li><a href="chatbot_app_arab.html">العربية</a></li>
                        </ul></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->

      <!-- Title heading -->
      <div class="title">
        <span class="heading">Places Célèbres à Rabat</span>
      </div>
    </header>
    <!-- // Title heading -->


<!-- Start Portfolio -->
<div class=".container">
  <br>
  <br>
  
</div>      
<!-- Start Resume -->
<div class="resume">
<div class="container">
<p>Tourisme à Rabat, qui est la capitale du Maroc et la deuxième plus grande ville du pays.Sa situation se distingue sur une grande plaine sur l'océan Atlantique, et au milieu de celle-ci passe le fleuve Bouregreg.La ville de Rabat embrasse de nombreuses destinations touristiques, dont les plus importantes sont la Tour Hassan, la Kasbah des Oudayas et la ville historique de Chellah.
  La plupart des attractions touristiques du Maroc, Rabat, sont concentrées dans le centre-ville et à proximité de la magnifique rivière Bouregreg, ce qui augmente la beauté de la capitale marocaine.</p>

</div>
</div>

<!-- End Resume -->
<br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/shalaa.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>place archéologique d'Al Chellah</h1>
 <br> <hr> <br>
    <p id="desc">Chellah est une ancienne petite ville située sur le fleuve Bouregreg. Elle remonte au VIe siècle avant J.-C. C'est l'un des sites archéologiques les plus importants et l'une des zones touristiques les plus célèbres de Rabat, au Maroc.
      Le site archéologique de Shellah comprend une grande cour et d'anciens bains en plus du temple principal.Quand vous arrivez sur le site, vous remarquerez le grand nombre d'oiseaux, dont la cigogne.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/hassan.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Tour Hassan</h1>
   <br> <hr> <br>
      <p id="desc">La tour Hassan est l'une des attractions touristiques les plus importantes de Rabat, au Maroc. C'est un bâtiment historique qui a été construit pour être le minaret d'une mosquée à Rabat sous le règne du sultan Yaqub Al-Mansour, mais les travaux de construction de la mosquée se sont arrêtés avec la mort du sultan.
        Haut de 44 mètres, le minaret est incomplet, entouré de nombreuses colonnes, il a été classé au patrimoine mondial de l'UNESCO en 1995.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/medina_rabat.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>l'ancienne ville de Rabat</h1>
 <br> <hr> <br>
    <p id="desc">La vieille ville de Rabat est l'un des plus beaux lieux touristiques de Rabat, que de nombreux touristes visitent afin de se renseigner sur le mode de vie des habitants de Rabat et aussi pour faire du shopping.Elle comprend de nombreuses boutiques qui vendent des chaussures, des sacs en cuir, des tissus et La vieille ville comprend également de nombreux cafés traditionnels et magasins d'alimentation.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/qasbat_wdaya.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>kasbah des oudayas</h1>
   <br> <hr> <br>
      <p id="desc">La Kasbah des Oudayas est un château fort construit par les Almoravides à l'embouchure de la rivière Bouregreg dans la capitale, Rabat.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/mija_mall.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Centre commercial Mega Mall</h1>
 <br> <hr> <br>
    <p id="desc">L'une des destinations de shopping les plus importantes de Rabat est située près de la route Zaer et se compose de plusieurs étages contenant un large éventail de magasins comprenant des vêtements, des accessoires, de la nourriture et autres.
      Le complexe propose de nombreuses installations de loisirs, notamment des patinoires et des cinémas, ainsi que plusieurs cafés et restaurants servant une cuisine délicieuse.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/foret_rabat.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>jardin zoologique de rabat</h1>
   <br> <hr> <br>
      <p id="desc">Le jardin zoologique de rabat est l'une des destinations préférées des touristes venant pour le tourisme à Rabat, au Maroc.Ce zoo comprend plus de 1000 animaux appartenant à différentes espèces et d'origine africaine, tels que les éléphants, les lions et autres.
        Le zoo de Rabat comprend de nombreux restaurants et cafés, et vous pouvez acheter des souvenirs dans les boutiques du parc</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/lmat7af_atariRABAT.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Musée Archéologique de Rabat</h1>
 <br> <hr> <br>
    <p id="desc">Le musée archéologique a ouvert ses portes à Rabat, au Maroc, en 1932 et est considéré comme l'un des musées les plus importants du Maroc.Le musée comprend un large éventail d'objets archéologiques au Maroc et d'autres collections d'antiquités datant de la préhistoire et de la pré-islamique.
      Le musée archéologique contient un large éventail d'objets découverts par les archéologues, un groupe de statues en bronze et d'antiquités datant de l'époque pré-romaine.Le musée est une destination touristique de premier plan à Rabat.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/sour_elmouhamady.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Le mur almohamady</h1>
   <br> <hr> <br>
      <p id="desc">Le mur almohamady est l'un des lieux touristiques les plus importants de Rabat. C'est un mur construit par les Almohades sur ordre du Sultan Yaqub Al-Mansour Almohad. La longueur du mur est de 2263 m, sa largeur est de 2,5 m, et sa hauteur est de 10 mètres. Le mur est soutenu par 74 tours et comprend 5 immenses portes : Bab Lalou, Bab Al Hadd, Bab Al-Rawah et Bab Zuair.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
  <!-- Start 1 --> 
  <div class="about-me">
  <div class="container">
  <div class="image">
      <img src="../assets/image/Darih_m5.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Mausolée de Mohammed V</h1>
   <br> <hr> <br>
      <p id="desc">Le mausolée de Mohammed V est situé à côté de la célèbre tour Hassan à Rabat et comprend les tombeaux du monarque marocain et de ses deux fils, le roi Hassan II et le prince Abdallah. Le bâtiment est un magnifique chef-d'œuvre de l'architecture moderne, car il se distingue par son toit de tuiles vertes et ses murs blancs. Le tombeau de Mohammed V a été construit en 1971 et est considéré comme l'un des monuments les plus importants de la capitale marocaine</p>
  </div>
  </div>
  </div>
  <!-- end 1 --> 
<!-- End Portfolio -->
  <br><br><br>
  <!-- Footer -->
  <footer>
    <div class="footer">
      <div class="footer-content">
        <div class="footer-section about">
          <h1 class="logo-text">
            <span class="logo-span">Amine Elachar & Abdallah EL MAAZOUZI</span>
          </h1>
          <p class="footer-para">
            Les chatbots au service du tourisme numérique
          </p>
          <div class="contact">
            <span><i class="fas fa-phone"></i>&nbsp; +33667969541</span>
            <span
              ><i class="fas fa-envelope"></i>&nbsp;
              amine.abdallah@gmail.com</span
            >
          </div>
          <div class="socials">
            <a
              href="https://www.facebook.com"
              target="_blank"
              ><i class="fab fa-facebook"></i
            ></a>
            <a
              href="https://www.linkedin.com"
              target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a href="https://twitter.com" target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
            <a href="https://github.com" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        &copy; Copyright All Rights Reserved
      </div>
    </div>
  </footer>
<!-- // Footer -->
  </body>
</html>
