<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <title>Places Célèbres à Tetouan</title>
  </head>

  <body>
    <!-- Header and Nav -->
    <header class="hotel_tetouan">
      <nav>
        <div class="main">
          <ul class="main-list">
            <li class="main-list-item"><a href="index.html">Accueil </a></li>
            <li class="active main-list-item"><a href="">Places Célèbres</a>
                <ul>
                  <li><a href="casa.html">Casablanca</a></li>
                  <li><a href="Kech.html">Marrakesh</a></li>
                  <li><a href="rabat.html">Rabat</a></li>
                  <li><a href="fes.html">Fès</a></li>
                  <li><a href="tanger.html">Tanger</a></li>
                  <li><a href="tetouan.html">Tetouan</a></li>
                  <li><a href="meknes.html">Meknes</a></li>
                  <li><a href="chefchaouen.html">Chefchaouen</a></li>
                  <li><a href="ifran.html">Ifrane</a></li>
                  <li><a href="agadir.html">Agadir</a></li>
                  <li><a href="hociema.html">AlHociema</a></li>
                  </ul></li>
            <li class="main-list-item"><a href="">Hôtel</a>
              <ul>
                <li><a href="hotel-casablanca.html">Casablanca</a></li>
                <li><a href="hotel-marrakesh.html">Marrakesh</a></li>
                <li><a href="hotel-rabat.html">Rabat</a></li>
                <li><a href="hotel-fes.html">Fès</a></li>
                <li><a href="hotel-tangier.html">Tanger</a></li>
                <li><a href="hotel -tetouan.html">Tetouan</a></li>
                <li><a href="hotel -meknes.html">Meknes</a></li>
                <li><a href="hotel -chefchaoun.html">Chefchaouen</a></li>
                <li><a href="hotel -ifrane.html">Ifrane</a></li>
                <li><a href="hotel-agadir.html">Agadir</a></li>
                <li><a href="hotel-hociema.html">AlHociema</a></li>
                </ul></li>
                
                
          <li class="main-list-item"><a href="">Infos Pratiques</a>
                  <ul>
                    <li><a href="info_deplace.html">Se déplacer</a></li>
                    <li><a href="info_hebergement.html">Hébergement</a></li>
                    <li><a href="info_deguster.html">Déguster</a></li>
                    </ul></li>

                    <li class="main-list-item"><a href="">Chatbot</a>
                      <ul>
                        <li><a href="chatbot_app_anglais.html">English</a></li>
                        <li><a href="chatbot_app_francais.html">Français</a></li>
                        <li><a href="chatbot_app_arab.html">العربية</a></li>
                        </ul></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->

      <!-- Title heading -->
      <div class="title">
        <span class="heading">Places Célèbres à Tetouan</span>
      </div>
    </header>
    <!-- // Title heading -->


<!-- Start Portfolio -->
<div class=".container">
  <br>
  <br>
  
</div>      
<!-- Start Resume -->
<div class="resume">
<div class="container">
<p>Tétouan est une ville marocaine avec un caractère côtier rural avec une touche andalouse antique surplombant la côte méditerranéenne, avec vue sur les montagnes du Rif et la Darsa.La ville de Tétouan a des éléments qui en font l'une des meilleures zones touristiques du Maroc, tels que les musées et la vieille ville avec ses monuments et ses quartiers patrimoniaux et archéologiques, les plages et les chaînes de montagnes boisées, les palais royaux, les monuments religieux historiques, etc.
  Si votre prochaine destination est le tourisme au Maroc, vous devriez connaître plus de détails sur la ville touristique de Tétouan et un groupe des plus beaux endroits de Tétouan lors de ses circuits touristiques.</p>

</div>
</div>

<!-- End Resume -->
<br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/al_madina_alatiqa.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>al madina al atika</h1>
 <br> <hr> <br>
    <p id="desc">La vieille ville est l'une des meilleures et des plus célèbres attractions touristiques de Tétouan, car c'est l'un des sites archéologiques sur la liste du patrimoine mondial de l'UNESCO grâce à l'esprit andalou qui empeste le cœur de ses bâtiments, ses marchés historiques, ses ruelles, ses antiquités ruelles pavées, et ses cafés populaires qui sentent l'authentique thé à la menthe marocain.
      Peut-être que le charme de la ville antique de Tétouan vient de sa petite superficie, qui incite le visiteur à la parcourir et à contempler en quelques heures ses moindres détails distinctifs, qui remontent à il y a 3 siècles. ville à ne pas manquer avec un objectif d'appareil photo lors de la visite de la ville touristique de Tétouan pour profiter des plus belles caractéristiques de la ville de Tétouan </p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/hay_souq.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>hay alsuwq</h1>
   <br> <hr> <br>
      <p id="desc">L'un des meilleurs endroits touristiques de Tétouan pour faire du shopping et se mêler aux coutumes et traditions marocaines authentiques.L'ancien quartier populaire représente un rassemblement de plusieurs marchés populaires qui vendent des produits différents et divers qui ne sont pas disponibles dans les centres commerciaux modernes géants ou peut-être pas avec le même lustre et présentoir traditionnel attrayant dans lequel les couleurs des marchandises brillent de mille feux.
        A travers le quartier du marché, vous pouvez acheter du pain frais dès qu'il est cuit dans le four populaire de Souk El Foki, ou des céramiques, des souvenirs et des ornements en or fabriqués à la main de Souk El Hout, ainsi que des herbes, des noix et des ignames fines.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/hay_elmalah.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Quartier d'Al Mallah</h1>
 <br> <hr> <br>
    <p id="desc">L'un des quartiers patrimoniaux de la ville de Tétouan avec une longue histoire que les touristes du monde entier visitent lors de l'un des circuits touristiques à Tétouan, où le quartier du Mellah est célèbre pour être l'un des quartiers des Juifs qui ont vécu dans la ville depuis l'Antiquité.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/almathaf_alatari.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Musée Archéologique</h1>
   <br> <hr> <br>
      <p id="desc">C'est l'un des monuments les plus célèbres de la ville touristique de Tétouan, qui fournit au visiteur de précieuses informations détaillées sur l'histoire de Tétouan et les développements civilisationnels qu'elle a subis jusqu'à nos jours à travers un groupe de pièces archéologiques et d'objets de collection, certains des qui remontent à la préhistoire comme les pièces de monnaie, le bronze et les objets en céramique, avec une immense bibliothèque littéraire qui comprend environ 60 000 volumes traitant de l'histoire de la région du Maghreb dans son ensemble.
        L'une des collections les plus populaires du musée archéologique de Tétouan est peut-être la mosaïque de l'époque romaine connue sous le nom des Trois Grâces.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/athnojoughrafya.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Musée d'Ethnographie</h1>
 <br> <hr> <br>
    <p id="desc">L'un des plus beaux endroits de Tétouan qui approfondit votre vision de Tétouan est le tourisme purement culturel grâce à ses fonds qui transmettent et expriment fidèlement le riche patrimoine de la ville à travers les âges.
      L'histoire du musée remonte à 1948, où il expose des collections de vêtements nationaux portés par les Marocains à Tétouan lors des détails de leur vie publique ou lors d'événements saisonniers comme les mariages et les vêtements de mariage, par exemple.
      Le musée d'ethnographie est situé à Tétouan dans la forteresse du sultan Moulay Abdel Rahman, qui offre une magnifique vue panoramique sur la ville touristique de Tétouan d'en haut.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/jibal_rif.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Montagnes du Rif</h1>
   <br> <hr> <br>
      <p id="desc">L'un des plus beaux endroits de Tétouan pour profiter de son atmosphère rurale pittoresque qui encourage les loisirs et la détente et pratiquer des activités récréatives légères telles que le vélo ou l'escalade des collines verdoyantes pour profiter de l'observation et de l'observation des oiseaux endémiques ou migrateurs lors de leurs déplacements quotidiens.
        Les montagnes du Rif sont situées à proximité de la ville bleue de Chefchaouen, au sud-est de la ville touristique de Tétouan, célèbre pour son inclusion des deux parcs nationaux de Talisman et Bushnachem, qui attirent l'attention des touristes lors des circuits touristiques à Tétouan.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/cabo-negro.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Plage de Cabo Negro</h1>
 <br> <hr> <br>
    <p id="desc">L'un des plus beaux endroits de Tétouan pour profiter d'une atmosphère calme loin de l'agitation habituelle pour laquelle la ville touristique de Tétouan est célèbre pendant la saison touristique, cependant, la plage est l'un des sites touristiques les plus populaires et visite pendant la mois de juillet et août, donc si vous recherchez la détente et les loisirs en toute tranquillité, vous devriez visiter la plage Étonnante à tout autre moment en dehors de ces deux mois.
      La plage de Cabo Negro à Tétouan se caractérise par la pureté de ses eaux, la pureté de son sable et ses vues pittoresques sur les montagnes, qui s'entrelacent en harmonie avec son ciel bleu clair.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/villa-nofel.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Villa Nouvelle</h1>
   <br> <hr> <br>
      <p id="desc">Si votre visite à Tétouan est touristique, un tel point de repère ne devrait en aucun cas tomber de la liste des meilleurs endroits touristiques de Tétouan que vous cherchez à visiter pendant vos vacances en raison de son design magnifique et ancien entouré de fontaines, de verdure et de palmiers élégants. , avec un emplacement distingué sur la rue Mohammed V, l'une des places principales de Tétouan les plus célèbres fait partie d'un groupe de ses palais et bâtiments historiques les plus célèbres, tels que le palais royal, le palais Mohammed II, la mosquée Pasha et l'église espagnole Victoria .
        Les environs de la Villa Nouvel sont également réputés pour accueillir un certain nombre de cafés haut de gamme que les résidents locaux, les touristes arabes et les étrangers visitent lors de leurs visites touristiques à Tétouan pour prendre une tasse de thé ou de café avec la saveur locale et écouter les dernières histoires et nouvelles.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/alaadam.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>aljamie al'aedam</h1>
 <br> <hr> <br>
    <p id="desc">L'une des plus anciennes attractions touristiques de la ville de Tétouan, à proximité du quartier juif historique et archéologique du Mellah, remonte au XVe siècle et attire un grand nombre de touristes de différents pays et spectres lors de circuits touristiques à Tétouan.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/sign_lmatamir.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Église de la prison de Matamir</h1>
   <br> <hr> <br>
      <p id="desc">C'est l'un des bâtiments historiques uniques de la ville touristique de Tétouan, l'ancienne église est située sous terre et est célèbre pour être un ancien lieu de culte pour les prisonniers chrétiens de la ville au 16ème siècle.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
<!-- Start 1 --> 
<div class="about-me">
<div class="container">
<div class="image">
    <img src="../assets/image/qasbat_elmandri.jpg" alt="entre" width="580" height="443" class="xxx">    
</div>
<div class="info">
 <h1>Kasbah de Sidi Al-Mandhari</h1>
 <br> <hr> <br>
    <p id="desc">C'est un grand bâtiment historique situé au nord de la ville de Tétouan depuis le XVIe siècle, auquel est rattachée une mosquée, la plus ancienne du genre dans la ville et portant le même nom.</p>
</div>
</div>
</div>
<!-- end 1 --> 
<br><br><br><br><br>
<!-- Start 2 --> 
<div class="about-me2">
  <div class="container">
  <div class="image">
      <img src="../assets/image/abdlqader.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>Mausolée de Sidi Abdel Qader Tabine</h1>
   <br> <hr> <br>
      <p id="desc">C'est l'un des monuments spirituels les plus anciens et les plus célèbres de Tétouan, qui est visité par des milliers de fidèles pendant les vacances touristiques à Tétouan. L'importance du mausolée est due à son histoire ancienne, qui remonte à l'époque de l'état des Almohades. au XIIe siècle, outre l'importance de la figure historique représentée par la figure du bâtisseur de la ville touristique de Tétouan, Abdelkader Tabine.</p>
  </div>
  </div>
  </div>
  <!-- end 2 --> 
  <br><br><br>
  <!-- Start 1 --> 
  <div class="about-me">
  <div class="container">
  <div class="image">
      <img src="../assets/image/ba_akla.jpg" alt="entre" width="580" height="443" class="xxx">    
  </div>
  <div class="info">
   <h1>siqayat bab aleuqla</h1>
   <br> <hr> <br>
      <p id="desc">L'un des plus beaux monuments de la ville antique de Tétouan, avec sa magnifique conception architecturale ornée qui repose sur le zellige, et attire l'attention de milliers de touristes de différentes parties du monde pour visiter la belle ville touristique de Tétouan.</p>
  </div>
  </div>
  </div>
  <!-- end 1 -->
<!-- End Portfolio -->
  
  <br><br><br>
  <!-- Footer -->
  <footer>
    <div class="footer">
      <div class="footer-content">
        <div class="footer-section about">
          <h1 class="logo-text">
            <span class="logo-span">Amine Elachar & Abdallah EL MAAZOUZI</span>
          </h1>
          <p class="footer-para">
            Les chatbots au service du tourisme numérique
          </p>
          <div class="contact">
            <span><i class="fas fa-phone"></i>&nbsp; +33667969541</span>
            <span
              ><i class="fas fa-envelope"></i>&nbsp;
              amine.abdallah@gmail.com</span
            >
          </div>
          <div class="socials">
            <a
              href="https://www.facebook.com"
              target="_blank"
              ><i class="fab fa-facebook"></i
            ></a>
            <a
              href="https://www.linkedin.com"
              target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a href="https://twitter.com" target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
            <a href="https://github.com" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        &copy; Copyright All Rights Reserved
      </div>
    </div>
  </footer>
<!-- // Footer -->
  </body>
</html>
